@page
@model Phasmophobia.Views.CursedItems.IndexModel
@{
}
<div class="text-center" >
    <style>
        body {
            background-color: #000000;
            color: #8d9ea5; /* Цвет текста, чтобы текст был видимым на черном фоне */
        }
    </style>
    Проклятые
</div>