<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проклятые предметы</title>
    <style>
         body {
            background-color: black;
            color: white;
            font-family: 'Bloody', cursive;
            margin: 0;
        }

        .location-list-container {
            text-align: center;
            margin-bottom: 20px;
        }

        .location-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap; /* Добавленный стиль для переноса на новую строку */
        }

        .location-list-item {
            margin: 5px;
            cursor: pointer;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 5px solid transparent;
        }

        .selected {
            background-color: #3498db;
            color: white;
            border: 5px solid #3498db;
        }

        #location-info {
            margin-top: 20px;
            text-align: center;
        }

       .location-list-item img {
            width: 300px;
            height: 200px;
            margin-bottom: 5px;
            cursor: pointer;
        }

        .location-name {
            font-size: 12px;
        }

        .location-info h2 {
            text-align: center; /* Добавленный стиль для центрирования заголовков h2 */
        }

        .location-info-container img {
            width: 100%;
            height: 100%;
        }

        .location-info img {
            width: 80vw; /* 80% ширины viewport */
            max-width: 600px; /* Максимальная ширина 300px */
            height: auto; /* Автоматическое вычисление высоты для поддержки соотношения сторон */
            margin: 20px auto; /* Добавленный стиль для центрирования изображений */
            display: block; /* Установка блочного типа для изображений */
        }

        .location-info {
            display: none;
        }
    </style>
</head>
<body>

    <div class="location-list-container">
        <h3>Проклятые Предметы</h3>

        <ul class="location-list" id="locationList">
            <li class="location-list-item" data-location="monkey-paw" onclick="showLocationInfo('monkey-paw')">
                <img src="/imag/monkey_paw.jpg" alt="monkey paw">
                <span class="location-name">Обезьянья лапка</span>
            </li>

            <li class="location-list-item" data-location="Summoning-Circle" onclick="showLocationInfo('Summoning-Circle')">
                <img src="/imag/Summoning-Circle.jpg" alt="Summoning Circle">
                <span class="location-name">Магический круг</span>
            </li>

            <li class="location-list-item" data-location="Music-Box" onclick="showLocationInfo('Music-Box')">
                <img src="/imag/Music-Box3.jpg" alt="Music Box">
                <span class="location-name">Музыкальная шкатулка</span>
            </li>

            <li class="location-list-item" data-location="Ouija_Board" onclick="showLocationInfo('Ouija_Board')">
                <img src="/imag/Ouija_Board.jpg" alt="Ouija Board">
                <span class="location-name">Доска Уиджи</span>
            </li>

            <li class="location-list-item" data-location="Haunted-Mirror" onclick="showLocationInfo('Haunted-Mirror')">
                <img src="/imag/Haunted-Mirror.jpg" alt="Haunted Mirror">
                <span class="location-name">Зачарованное зеркало</span>
            </li>
            <li class="location-list-item" data-location="Haunted-Mirror" onclick="showLocationInfo('Haunted-Mirror')">
                <img src="/imag/Haunted-Mirror.jpg" alt="Haunted Mirror">
                <span class="location-name">Зачарованное зеркало</span>
            </li>
            <li class="location-list-item" data-location="Haunted-Mirror" onclick="showLocationInfo('Haunted-Mirror')">
                <img src="/imag/Haunted-Mirror.jpg" alt="Haunted Mirror">
                <span class="location-name">Зачарованное зеркало</span>
            </li>
            <li class="location-list-item" data-location="Haunted-Mirror" onclick="showLocationInfo('Haunted-Mirror')">
                <img src="/imag/Haunted-Mirror.jpg" alt="Haunted Mirror">
                <span class="location-name">Зачарованное зеркало</span>
            </li>
            <li class="location-list-item" data-location="Haunted-Mirror" onclick="showLocationInfo('Haunted-Mirror')">
                <img src="/imag/Haunted-Mirror.jpg" alt="Haunted Mirror">
                <span class="location-name">Зачарованное зеркало</span>
            </li>
        </ul>
    </div>

    <div id="monkey-paw-info" class="location-info">
        <h2>Обезьянья лапка</h2>
        <div style="text-align: center;">
            <img src="/imag/monki3.jpg" alt="monkey paw" style="display: inline-block; vertical-align: middle;">
        </div>
        <p>Обезьянья лапа (англ. Monkey Paw) — 1 из 7 проклятых предметов, который используется для исполнения желаний игрока.</p>
        <p>Сами желания (в виде бумажных ярлычков с надписями) разбросаны по всей карте Sunny Meadows Mental Institution. При нахождении они появляются в журнале и будут служить постоянной заметкой, которая поможет вам помнить желания.</p>
        <p>Обезьянья лапа исполняет определённое количество желаний в зависимости от множителя награды за сложность:</p>
        <ul>
            <li>0x – 1,9x: 5 желаний</li>
            <li>2x – 2,9x: 4 желания</li>
            <li>3x или выше: 3 желания</li>
        </ul>
        <h2>Использование обезьяней лапки:</h2>
        <p>Игроки могут использовать голосовой чат или текстовый интерфейс, чтобы загадывать желания. При использовании голосового чата Обезьянья лапа исполнит любое распознанное желание игрока. При использовании текстового распознавания, пользовательский интерфейс появится при активации («ПКМ» по умолчанию). Можно выбрать одну из 3-ёх категорий, затем выбрать желание для конкретной категории или выйти из пользовательского интерфейса, деактивировав его («ПКМ» по умолчанию).</p>
        <h2>Возможные желания и эфекты от них:</h2>

        <table style="border-collapse: collapse; width: 95%; margin: 20px auto;">
            <thead>
                <tr>
                    <th style="border: 1px solid white; padding: 8px;">Желания</th>
                    <th style="border: 1px solid white; padding: 8px;">Действие</th>
                    <th style="border: 1px solid white; padding: 8px;">Положительный эффект</th>
                    <th style="border: 1px solid white; padding: 8px;">Негативный эффект</th>
                    <th style="border: 1px solid white; padding: 8px;">Потеря рассудка</th>
                    <th style="border: 1px solid white; padding: 8px;">Текстовый вариант</th>
                </tr>
            </thead>
            <tbody>
                <!-- Заполните ячейки таблицы данными -->
                <?php for ($row = 1; $row <= 10; $row++) : ?>
                <tr>
                    <td style="border: 1px solid white; padding: 8px;">Призрак (Ghost) <?= $row ?></td>
                    <td style="border: 1px solid white; padding: 8px;">Хочу увидеть призрака (I wish to see the ghost)</td>
                    <td style="border: 1px solid white; padding: 8px;">Запускает паранормальное явление с появлением призрака в его текущем местоположении.</td>
                    <td style="border: 1px solid white; padding: 8px;">Мгновенно запирает входную дверь. Сразу после этого начинается охота. Обзор игрока уменьшается во время этой охоты с помощью черного тумана</td>
                    <td style="border: 1px solid white; padding: 8px;">50%</td>
                    <td style="border: 1px solid white; padding: 8px;">Да</td>                 
                </tr>
                <tr>
                    <td style="border: 1px solid white; padding: 8px;">Призрак (Ghost) <?= $row ?></td>
                    <td style="border: 1px solid white; padding: 8px;">Хочу активность (I wish for activity)</td>
                    <td style="border: 1px solid white; padding: 8px;">Удваивает всю активность призрака на 2 минуты (броски, двери, блуждание, способности).</td>
                    <td style="border: 1px solid white; padding: 8px;">Ломает источник электропитания насовсем и запирает входную дверь на 2 минуты</td>
                    <td style="border: 1px solid white; padding: 8px;">20%</td>
                    <td style="border: 1px solid white; padding: 8px;">Нет</td>
                </tr>
                <tr>
                    <td style="border: 1px solid white; padding: 8px;">Призрак (Ghost) <?= $row ?></td>
                    <td style="border: 1px solid white; padding: 8px;">Хочу поймать призрака в ловушку (I wish the ghost was trapped)</td>
                    <td style="border: 1px solid white; padding: 8px;">Телепортирует призрака в его любимую комнату и запирает все её двери на 1 минуту. Призрак не может охотиться, блуждать или использовать способности, пока он заперт в своей комнате.</td>
                    <td style="border: 1px solid white; padding: 8px;">Запирает все двери комнаты игрока, произнёсшего желание, на 1 минуту. Призрак начнёт охоту через 1 минуту и откроет все двери. 25% шанс, что двери откроются после безопасного периода</td>
                    <td style="border: 1px solid white; padding: 8px;">50%</td>
                    <td style="border: 1px solid white; padding: 8px;">Да</td>
                </tr>
                <tr>
                    <td style="border: 1px solid white; padding: 8px;">Игрок (Player) <?= $row ?></td>
                    <td style="border: 1px solid white; padding: 8px;">Хочу вернуть свой рассудок (I wish for sanity)	</td>
                    <td style="border: 1px solid white; padding: 8px;">Усредняет рассудок каждого игрока до 50%.	</td>
                    <td style="border: 1px solid white; padding: 8px;">Устанавливает любимую комнату призрака на случайную. Увеличивает скорость падения рассудка на 50% от текущего значения	</td>
                    <td style="border: 1px solid white; padding: 8px;">Без потери	</td>
                    <td style="border: 1px solid white; padding: 8px;">Да</td>
                </tr>
                <tr>
                    <td style="border: 1px solid white; padding: 8px;">Игрок (Player)	 <?= $row ?></td>
                    <td style="border: 1px solid white; padding: 8px;">Хочу быть в безопасности (I wish to be safe)	</td>
                    <td style="border: 1px solid white; padding: 8px;">Разблокирует ближайшее заблокированное укрытие.	</td>
                    <td style="border: 1px solid white; padding: 8px;">Разбивает свет в текущей комнате. Призрак теперь может слышать и чувствовать снаряжение игрока, загадавшего желание, на любом расстоянии	</td>
                    <td style="border: 1px solid white; padding: 8px;">20%	</td>
                    <td style="border: 1px solid white; padding: 8px;">Нет</td>
                </tr>
                <tr>
                    <td style="border: 1px solid white; padding: 8px;">Игрок (Player)	 <?= $row ?></td>
                    <td style="border: 1px solid white; padding: 8px;">Хочу уйти отсюда (I wish to leave)	</td>
                    <td style="border: 1px solid white; padding: 8px;">Отпирает все входные двери в любое время, в том числе во время охоты.	</td>
                    <td style="border: 1px solid white; padding: 8px;">Замедляет ваше передвижение на 5 секунд, затем медленно восстанавливает его в течение 5 секунд и снижает обзор на время действия	</td>
                    <td style="border: 1px solid white; padding: 8px;">20%	</td>
                    <td style="border: 1px solid white; padding: 8px;">Да</td>
                </tr>
                <tr>
                    <td style="border: 1px solid white; padding: 8px;">Другое (Other)	 <?= $row ?></td>
                    <td style="border: 1px solid white; padding: 8px;">Хочу жить (I wish for life) - Работает только в сетевой игре	</td>
                    <td style="border: 1px solid white; padding: 8px;">Воскрешает мёртвого игрока.	</td>
                    <td style="border: 1px solid white; padding: 8px;">50% шанс убить игрока, произнёсшего желание.	</td>
                    <td style="border: 1px solid white; padding: 8px;">5%	</td>
                    <td style="border: 1px solid white; padding: 8px;">Да</td>
                </tr>
                <tr>
                    <td style="border: 1px solid white; padding: 8px;">Другое (Other)	 <?= $row ?></td>
                    <td style="border: 1px solid white; padding: 8px;">Хочу приобрести знания (I wish for knowledge)	</td>
                    <td style="border: 1px solid white; padding: 8px;">Вычёркивает отсутствующую улику и соответствующие типы призраков из вашего журнала.	</td>
                    <td style="border: 1px solid white; padding: 8px;">Рядом с игроком начинается охота. Зрение игрока снижается, звуки становятся приглушёнными на весь оставшийся контракт	</td>
                    <td style="border: 1px solid white; padding: 8px;">5%	</td>
                    <td style="border: 1px solid white; padding: 8px;">Нет</td>
                </tr>
                <tr>
                    <td style="border: 1px solid white; padding: 8px;">Другое (Other)	 <?= $row ?></td>
                    <td style="border: 1px solid white; padding: 8px;">Хочу тип погоды (I wish for тип погоды)	</td>
                    <td style="border: 1px solid white; padding: 8px;">Возможность выбрать любую погоду. Например: рассвет (sunrise), снег (snow), дождь (rain) и тд.	</td>
                    <td style="border: 1px solid white; padding: 8px;">На 1 секунду экран игрока темнеет, рассудок снижается на 25%.	</td>
                    <td style="border: 1px solid white; padding: 8px;">5%	</td>
                    <td style="border: 1px solid white; padding: 8px;">Да</td>
                </tr>
                <tr>
                    <td style="border: 1px solid white; padding: 8px;">Другое (Other)	 <?= $row ?></td>
                    <td style="border: 1px solid white; padding: 8px;">Сам не знаю, чего хочу (I wish for anything)	</td>
                    <td style="border: 1px solid white; padding: 8px;">Исполняется случайное желание.	</td>
                    <td style="border: 1px solid white; padding: 8px;"> </td>
                    <td style="border: 1px solid white; padding: 8px;">5%	</td>
                    <td style="border: 1px solid white; padding: 8px;">Да</td>
                </tr>
                <?php endfor; ?>
            </tbody>
        </table>
        <h2>Награда за фотографию:</h2>
        <p>Фотография обезьяньей лапы, независимо от количества использований, принесёт игроку 5$ и 5XP (зависимо от расстояния, с которого она была сделана).</p>
    </div>

    <div id="Summoning-Circle-info" class="location-info">
        <h2>Магический круг</h2>
        <div style="text-align: center;">
            <img src="/imag/Summoning-Circle2.jpg" alt="Summoning Circle" style="display: inline-block; vertical-align: middle;">
        </div>
        <p>Магический круг или же круг призыва (англ. Summoning Circle) — 1 из 7 проклятых предметов, который используется для призыва призрака, чтобы сфотографировать его, выполнить задания по взаимодействию с ним (зажечь благовоние возле призрака, обнаружить призрака с помощью датчика движения, стать свидетелем паранормального явления и т.п.) или проследить за особенностями его поведения во время охоты.</p>
        <h2>Использование:</h2>
        <p>Для того чтобы активировать магический круг, игрок должен зажечь все пять красных свечей (по умолчанию: F на клавиатуре). Зажигание каждой свечи забирает по 16% рассудка у каждого из стоящих рядом игроков, следовательно, для активирования магического круга потребуется 80% рассудка.</p>
        <p>Свечи магического круга могут погаснуть через некоторое время, либо могут быть задутыми призраком, точно также, как и обычные свечи. Кроме того, если у игрока меньше чем 16% рассудка при зажигании свечи, она сразу погаснет.</p>
        <p>Когда игрок активирует все пять свечей, вызовется призрак и полностью материализуется (за исключением Тени, у которой есть шанс появиться в виде прозрачного облика). После призыва, у игроков будет примерно 5 секунд безопасного периода, во время которого призрак будет стоять на месте и не сможет убить. Это событие является паранормальным явлением, однако входная дверь закроется сразу же после зажигания последней свечи. После этого призрак сразу же начнёт проклятую охоту. Как только игрок активирует магический круг, им нельзя будет воспользоваться ещё раз.</p>
        <p>В некоторых случаях паранормального явления не будет и охота начнётся немедленно:</p>
        <ul>
            <li>
                Если у игрока 16% рассудка или меньше после зажигания последней свечи;
                (Если включена функция "Дружелюбный призрак" (англ. Friendly Ghost), вместо проклятой охоты, свечи начнут поочерёдно гаснуть;)
            </li>
            <li>Если во время действующей охоты зажечь последнюю свечу, то это продлит охоту на 20 секунд.</li>
        </ul>
        <p>В отличие от других проклятых предметов, у магического круга есть ошибка, из-за которой фаза подготовки не отменяется.</p>
        <h2>Награда за фотографию:</h2>
        <p>Фотография магического круга, независимо от того был он активирован или нет, принесёт игроку 5$ и 5XP (зависимо от расстояния, с которого она была сделана).</p>

    </div>

    <div id="Music-Box-info" class="location-info">
        <h2>Музыкальная шкатулка</h2>
        <div style="text-align: center;">
            <img src="/imag/Music-Box2.jpg" alt="Music Box" style="display: inline-block; vertical-align: middle;">
        </div>
        <p>Музыкальная шкатулка (англ. Music Box) - 1 из 7 проклятых предметов, с помощью которой можно определить местонахождение призрака, хотя и со значительным риском, если обращаться с ней неосторожно. Так же, это хорошая возможность сфотографировать призрака, пока он идёт к шкатулке.</p>
        <h2>Использование:</h2>
        <p>Музыкальную шкатулку можно активировать, взяв ее в руку и используя клавишу основного использования (по умолчанию: ПКМ). Если предмет использовать до завершения фазы подготовки, то это приведёт её к досрочному завершению. Музыкальную шкатулку можно использовать только один раз за игру.</p>
        <p>После активации музыкальной шкатулки призрак начнёт подпевать со своего текущего местоположения, оставаясь при этом невидимым.</p>
        <p>Если музыкальная шкатулка будет находиться в пределах 5 метров от призрака, то она вызовет паранормальное явление при котором появится призрак и начнёт идти к шкатулке. Музыкальную шкатулку можно держать в руке, либо поставить на пол, чтобы безопасным способом её выбросить, не начав при этом проклятую охоту до окончания паранормального явления. В любом случае, шкатулка закроется, как только перестанет играть.</p>
        <h2>Проклятая охота:</h2>
        <p>При использовании музыкальной шкатулки начнётся проклятая охота, если произойдет одно из следующих событий:</p>
        <ul>
            <li>Призрак находится на небольшом расстоянии от игрока, держащего шкатулку;</li>
            <li>Призрак ходит (во время паранормального явления вызванного шкатулкой) более 5 секунд;</li>
            <li>Шкатулка была брошена, во время проигрывания мелодии.</li>
        </ul>
        <p>Вместо этого начнётся обычная охота, если:</p>
        <ul>
            <li>Во время проигрывания мелодии игрок достиг или уже имел 0% рассудка;</li>
            <li>Охота призрака началась не из-за каких либо событий, связанных с использованием музыкальной шкатулки.</li>            
        </ul>
        <p>Также музыкальную шкатулку можно использовать не вызывая охоту, если:</p>
        <ul>
            <li>Во время перечисленных выше требований никто не находится в зоне расследования (также стоит учесть, если после использования музыкальной шкатулки была начата проклятая охота, то любая охота после неё будет также являться проклятой);</li>
            <li>В момент окончания проигрывания мелодии призрак находится за пределами 5 метров от шкатулки, то она автоматически закрывается;</li>
            <li>Игрок подойдёт с активной шкатулкой к призраку незадолго до того, как мелодия перестанет играть, то призрак исчезнет, когда музыка закончится.</li>
        </ul>
        <h2>Другие эффекты:</h2>
        <p>Во время проигрывания музыкальной шкатулки, игрок находящийся в пределах ~2,5 метров будет терять рассудок со скорость 2,5% в секунду, что в сумме составит примерно 75%, если мелодия будет прослушана от начала и до конца.</p>
        <p>Если во время использования музыкальной шкатулки не начнётся паранормальное явление (вызванное использованием самой шкатулки), ничего не будет препятствовать обычной активности призрака, что означает, что он сможет бродить, взаимодействовать с объектами, использовать способности или даже выполнять паранормальные явления и охотиться. Призрак не будет активно приближаться к музыкальной шкатулке, если она находится вне его досягаемости.</p>
        <p>Если музыкальную шкатулку вынести на улицу, она закроется. Если в данный момент будет проигрываться мелодия, снижение рассудка приостановится, но технически мелодия будет играть дальше. Если внести её обратно в зону расследования, она откроется и возобновит проигрывание мелодии.</p>
        <h2>Награда за фотографию:</h2>
        <p>Фотография музыкальной шкатулки, независимо от того была она активирована или нет, принесёт игроку 5$ и 5XP (зависимо от расстояния, с которого она была сделана).</p>

    </div>

    <div id="Ouija_Board-info" class="location-info">
        <h2>Доска Уиджи</h2>
        <div style="text-align: center;">
            <img src="/imag/Ouija_Board2.jpg" alt="Ouija Board" style="display: inline-block; vertical-align: middle;">
        </div>
        <p> Доска Уиджи (англ. Ouija Board) — 1 из 7 проклятых предметов, которая позволяет общаться с призраками ценой рассудка игрока.</p>
        <h2>Использование:</h2>
        <p>Чтобы использовать доску Уиджи, необходимо активировать её щелчком ЛКМ. На неё будет положена планшетка. Чтобы задать призраку вопрос, нужно нажать на кнопку «V» (по умолчанию) и поговорить с призраком.</p>
        <p>Чтобы остановить использование доски Уиджи необходимо попрощаться используя фразу «До свидания», после чего, с неё будет убрана планшетка. Если отойти от доски, не выключив её, то она сгорит, и призрак начнёт проклятую охоту.</p>
        <p>Можно сфотографировать доску, и фото принесет в награду 5$. Также можно сфотографировать процесс ответа призрака, и фото под названием «Взаимодействие» принесет еще 5$.</p>
        <h2>Возможные вопросы и эфекты от них:</h2>

        <table style="border-collapse: collapse; width: 95%; margin: 20px auto;">
            <thead>
                <tr>
                    <th style="border: 1px solid white; padding: 8px;">Категория</th>
                    <th style="border: 1px solid white; padding: 8px;">Описание</th>
                    <th style="border: 1px solid white; padding: 8px;">Вопросы</th>
                    <th style="border: 1px solid white; padding: 8px;">Ответы</th>
                    <th style="border: 1px solid white; padding: 8px;">Потеря рассудка</th>
                    <th style="border: 1px solid white; padding: 8px;">Текстовый вариант</th>
                </tr>
            </thead>
            <tbody>
                <?php for ($row = 1; $row <= 10; $row++) : ?>
                <tr>
                    <td style="border: 1px solid white; padding: 8px;">Местоположение <?= $row ?></td>
                    <td style="border: 1px solid white; padding: 8px;">Указывает на комнату, в которой находится призрак в данный момент. Ответ на вопрос о любимой комнате не будет дан, если призрак в ней не находится.	</td>
                    <td style="border: 1px solid white; padding: 8px;">"Где ты находишься?", "Какая твоя любимая комната?", "Где твоя комната?", "Какая твоя комната?"	</td>
                    <td style="border: 1px solid white; padding: 8px;">См. Оборудование в фургоне "Карта локации"	</td>
                    <td style="border: 1px solid white; padding: 8px;">50%	</td>
                    <td style="border: 1px solid white; padding: 8px;">Да</td>
                </tr>
                <tr>
                    <td style="border: 1px solid white; padding: 8px;">Местоположение (неопределенное)	 <?= $row ?></td>
                    <td style="border: 1px solid white; padding: 8px;">Вместо указания текущей комнаты призрак просто отвечает, находится ли он в той же комнате, где находится задающий вопрос.	</td>
                    <td style="border: 1px solid white; padding: 8px;">"Ты здесь?", "Ты рядом?"	</td>
                    <td style="border: 1px solid white; padding: 8px;">Да/Нет	</td>
                    <td style="border: 1px solid white; padding: 8px;">20%	</td>
                    <td style="border: 1px solid white; padding: 8px;">Нет</td>
                </tr>
                <tr>
                    <td style="border: 1px solid white; padding: 8px;">Местонахождение кости	 <?= $row ?></td>
                    <td style="border: 1px solid white; padding: 8px;">Будет дано название комнаты, где находится кость. В настоящее время существует известная проблема, когда этот вопрос может не работать.	</td>
                    <td style="border: 1px solid white; padding: 8px;">"Где находится кость?", "Где ты умер?", "Где твое тело?"	</td>
                    <td style="border: 1px solid white; padding: 8px;">См. Оборудование в фургоне "Карта локации"	</td>
                    <td style="border: 1px solid white; padding: 8px;">50%	</td>
                    <td style="border: 1px solid white; padding: 8px;">Да</td>
                </tr>
                <tr>
                    <td style="border: 1px solid white; padding: 8px;">Игра в прятки	 <?= $row ?></td>
                    <td style="border: 1px solid white; padding: 8px;">Доска Уиджи начнет обратный отсчет от 5 до 0, затем разобьётся и начнётся проклятая охота.	</td>
                    <td style="border: 1px solid white; padding: 8px;">"(Хочешь сыграть в) прятки?"	</td>
                    <td style="border: 1px solid white; padding: 8px;">Обратный отсчет от 5 до 0	</td>
                    <td style="border: 1px solid white; padding: 8px;">Без потери	</td>
                    <td style="border: 1px solid white; padding: 8px;">Да</td>
                </tr>
                <tr>
                    <td style="border: 1px solid white; padding: 8px;">Вопросы о комнате	 <?= $row ?></td>
                    <td style="border: 1px solid white; padding: 8px;">На ответ влияет количество людей в комнате. Если призрак находится в той же комнате, где присутствующие будут задавать вопрос по доске Уиджи, то количество увеличится на одного.	</td>
                    <td style="border: 1px solid white; padding: 8px;">"Сколько людей в комнате?", "Как много людей в комнате?", "Как много людей здесь?", "Как много призраков в комнате?", "Как много здесь призраков?", "Ты один?", "Мы одни?", "Кто здесь?", "Кто в этой комнате?"	</td>
                    <td style="border: 1px solid white; padding: 8px;">Число/Да/Нет	</td>
                    <td style="border: 1px solid white; padding: 8px;">20%	</td>
                    <td style="border: 1px solid white; padding: 8px;">Нет</td>
                </tr>
                <tr>
                    <td style="border: 1px solid white; padding: 8px;">Застенчивость	 <?= $row ?></td>
                    <td style="border: 1px solid white; padding: 8px;">Предоставит информацию, отвечает ли призрак в радиоприёмник при других людях или только в одиночестве.	</td>
                    <td style="border: 1px solid white; padding: 8px;">"Ты отвечаешь всем?"	</td>
                    <td style="border: 1px solid white; padding: 8px;">Да/Нет	</td>
                    <td style="border: 1px solid white; padding: 8px;">20%	</td>
                    <td style="border: 1px solid white; padding: 8px;">Да</td>
                </tr>
                <tr>
                    <td style="border: 1px solid white; padding: 8px;">Возраст <?= $row ?></td>
                    <td style="border: 1px solid white; padding: 8px;">Возраст призрака генерируется случайным образом в начале игры, диапазон чисел от 2 до 90 лет.	</td>
                    <td style="border: 1px solid white; padding: 8px;">"Сколько тебе лет?", "Какой твой возраст?", "Ты старый?", "Ты молодой?"	</td>
                    <td style="border: 1px solid white; padding: 8px;">2-90	</td>
                    <td style="border: 1px solid white; padding: 8px;">5%	</td>
                    <td style="border: 1px solid white; padding: 8px;">Да</td>
                </tr>
                <tr>
                    <td style="border: 1px solid white; padding: 8px;">Смерть <?= $row ?></td>
                    <td style="border: 1px solid white; padding: 8px;">Продолжительность смерти призрака генерируется случайным образом в начале игры, диапазон чисел от 50 до 1000 лет.	</td>
                    <td style="border: 1px solid white; padding: 8px;">"Как долго ты мёртв?", "Сколько лет назад ты умер?", "Как давно ты здесь?", "Как давно ты умер?", "Когда ты умер?"	</td>
                    <td style="border: 1px solid white; padding: 8px;">50 - 1000	</td>
                    <td style="border: 1px solid white; padding: 8px;">5%	</td>
                    <td style="border: 1px solid white; padding: 8px;">Нет</td>
                </tr>
                <tr>
                    <td style="border: 1px solid white; padding: 8px;">Способ смерти	 <?= $row ?></td>
                    <td style="border: 1px solid white; padding: 8px;">Предоставляет причину смерти призрака.	</td>
                    <td style="border: 1px solid white; padding: 8px;">"Как ты умер?"	</td>
                    <td style="border: 1px solid white; padding: 8px;">Несчастный случай, Утонул, Задохнулся, Убийство, Застрелен, Падение, Поскользнулся	</td>
                    <td style="border: 1px solid white; padding: 8px;">5%	</td>
                    <td style="border: 1px solid white; padding: 8px;">Да</td>
                </tr>
                <tr>
                    <td style="border: 1px solid white; padding: 8px;">Предназначение <?= $row ?></td>
                    <td style="border: 1px solid white; padding: 8px;">Предоставляет информацию о цели присутствия призрака.	</td>
                    <td style="border: 1px solid white; padding: 8px;">"Почему ты здесь?", "Что ты хочешь?"	</td>
                    <td style="border: 1px solid white; padding: 8px;">Любовь, Страх, Месть, Ты, Ненависть, Убийство, Мир, Заперт, Одиночество, Потерян	</td>
                    <td style="border: 1px solid white; padding: 8px;">5%	</td>
                    <td style="border: 1px solid white; padding: 8px;">Нет</td>
                </tr>
                <?php endfor; ?>
            </tbody>
        </table>

        <h2>Награда за фотографию:</h2>
        <p>Фотография доски Уиджи, независимо от того активирована она или нет, принесёт игроку 5$ и 5XP (зависимо от расстояния, с которого она была сделана).</p>
        <p>Если фотография доски Уиджи будет сделана в течение 20 секунд, после успешно заданного вопроса, игрок сфотографирует "Взаимодействие" и получит 5$ и 5XP (зависимо от расстояния, с которого она была сделано). Количество таких фотографий, в которые также входят вопросы одной и той же категории, не ограничено, что позволяет игрокам заполнить свободные места дополнительными фотографиями "Взаимодействие".</p>

    </div>

    <div id="Haunted-Mirror-info" class="location-info">
        <h2>Зачарованное зеркало</h2>
        <div style="text-align: center;">
            <img src="/imag/Haunted-Mirror1.jpg" alt="Haunted Mirror" style="display: inline-block; vertical-align: middle;">
        </div>
        <p>Зачарованное зеркало (англ. Haunted Mirror) — 1 из 7 проклятых предметов, которое поможет отыскать любимую комнату призрака. При этом стоит учесть, что оно не показывает текущее местоположение самого призрака.</p>
        <h2>Использование:</h2>
        <p>Активировать зачарованное зеркало можно только находясь внутри зоны расследования, нажав (по-умолчанию) ПКМ. При использовании зеркала будет показана часть любимой комнаты призрака в настоящем времени, следовательно, все взаимодействия и перемещения можно будет отследить в прямой трансляции (кроме собственной модели игрока).</p>
        <p>Каждое использование зачарованного зеркала забирает часть рассудка. Скорость истощения равна 7.5% в секунду или 20% за использование. Это означает, что использование зеркала менее ~2,67 секунд, всё равно приведёт к истощению рассудка на 20%. В это время входит анимация поднятия зачарованного зеркала, но не его опускание.</p>
        <p>Если рассудок игрока достигнет нуля, зачарованное зеркало треснет и призрак начнёт проклятую охоту.</p>
        <p>Использование зачарованного зеркала прямо у дверной линии, с отсупанием на улицу заставляет его выключаться. Многоразовое повторение этого действия может привести к тому, что при полном истощении рассудка игрока, зеркало разобьётся и начнётся проклятая охота, при этом, игрок останется на улице. Стоит обратить внимание, что охота закончится очень быстро, если в зоне расследования не окажется игроков.</p>
        <h2>Награда за фотографию:</h2>
        <p>Фотография зеркала, независимо от того треснуто оно или нет, принесёт игроку 5$ и 5XP (зависимо от расстояния, с которого она была сделана).</p>

    </div>

        <!-- Добавьте аналогичные блоки для других локаций -->



    <script>
        function showLocationInfo(locationName) {
            // Скрыть все блоки с информацией
            var locationInfos = document.querySelectorAll('.location-info');
            locationInfos.forEach(function (info) {
                info.style.display = 'none';
            });

            // Удалить класс .selected у всех элементов списка
            var locationListItems = document.querySelectorAll('.location-list-item');
            locationListItems.forEach(function (item) {
                item.classList.remove('selected');
            });

            // Отобразить блок информации для выбранной локации
            var selectedInfo = document.getElementById(locationName + '-info');
            selectedInfo.style.display = 'block';

            // Добавить класс .selected к выбранному элементу списка
            var selectedListItem = document.querySelector('.location-list-item[data-location="' + locationName + '"]');
            selectedListItem.classList.add('selected');
        }
    </script>

</body>
</html>

