@{
    ViewData["Title"] = "Home ";
}

<div class="text-center">
    <style>
        body {
            background-color: #000000;
            color: #8d9ea5; /* Цвет текста, чтобы текст был видимым на черном фоне */
        }
    </style>

    <h1>Ghoost</h1>

</div>