<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фазмафобия: Улики и Призраки</title>
    <style>
        body {
            background-color: black;
            color: white;
            font-family: 'Bloody', cursive;
            margin: 0;
        }

        h1, h2 {
            color: white;
        }

        .evidence-list,
        .ghost-list {
            list-style-type: none;
            column-gap: 10px;
            padding: 0;
        }

        .ghost-list {
            column-count: 3;
        }

        .ghost-name {
            font-weight: bold;
            text-decoration: none;
        }

        .evidence-square {
            width: 20px;
            height: 20px;
            border: 1px solid white;
            box-sizing: border-box;
            display: inline-block;
            margin-right: 5px;
            position: relative;
        }

            .evidence-square::before {
                content: "\2713";
                color: white;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
            }

        .evidence-selected .evidence-square::before,
        .evidence-selected.crossed-out .evidence-square::before {
            content: "\2717";
            opacity: 1;
        }

        .evidence-selected.crossed-out .evidence-square::before {
            content: "\0336";
            color: grey;
        }

        .evidence-selected .evidence-text {
            color: white;
            text-decoration: none;
        }

        .evidence-selected.crossed-out .evidence-text {
            text-decoration: line-through;
            color: grey;
        }

        .ghost-link {
            text-decoration: none;
            color: white;
        }

        .evidence-list {
            column-count: 2;
        }

        #buttons-container {
            margin-left: 20px;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
        }

            #buttons-container button {
                color: white;
                background: none;
                border: none;
                padding: 10px;
                margin-right: 10px;
                cursor: pointer;
                transition: color 0.3s ease;
            }

                #buttons-container button:hover {
                    color: rgba(255, 255, 255, 0.7);
                }
    </style>
</head>
<body>

    <h1>Фазмафобия: Улики и Призраки</h1>
   
    <div style="display: flex;">
        <div style="flex: 1;">
            <h2>Улики/Доказательства</h2>
            <ul class="evidence-list">
                <li id="EMF" onclick="toggleEvidence('EMF')">
                    <span class="evidence-square"></span><span class="evidence-text">ЭМП уровень 5</span>
                </li>
                <li id="Fingerprints" onclick="toggleEvidence('Fingerprints')">
                    <span class="evidence-square"></span><span class="evidence-text">Ультрафиолет</span>
                </li>
                <li id="FreezingTemperatures" onclick="toggleEvidence('FreezingTemperatures')">
                    <span class="evidence-square"></span><span class="evidence-text">Минусовая температура</span>
                </li>
                <li id="GhostOrb" onclick="toggleEvidence('GhostOrb')">
                    <span class="evidence-square"></span><span class="evidence-text">Огонек</span>
                </li>
                <li id="GhostWriting" onclick="toggleEvidence('GhostWriting')">
                    <span class="evidence-square"></span><span class="evidence-text">Блокнот</span>
                </li>
                <li id="SpiritBox" onclick="toggleEvidence('SpiritBox')">
                    <span class="evidence-square"></span><span class="evidence-text">Радио</span>
                </li>
                <li id="DotsProjector" onclick="toggleEvidence('DotsProjector')">
                    <span class="evidence-square"></span><span class="evidence-text">Лазер</span>
                </li>

                <!-- Добавьте остальные улики -->
            </ul>

            <h2>Призраки</h2>
            <ul class="ghost-list">
                <li id="ghost1" class="ghost" data-evidence="EMF GhostWriting SpiritBox">
                    <a asp-controller="Ghost" asp-action="Spirit" class="ghost-link">
                        <span class="ghost-name">Дух</span>
                    </a>
                </li>
                <li id="ghost2" class="ghost" data-evidence="EMF SpiritBox DotsProjector">
                    <a asp-controller="Ghost" asp-action="Wraith" class="ghost-link">
                        <span class="ghost-name">Мираж</span>
                    </a>
                </li>
                <li id="ghost3" class="ghost" data-evidence="Fingerprints SpiritBox DotsProjector">
                    <a asp-controller="Ghost" asp-action="Phantom" class="ghost-link">
                        <span class="ghost-name">Фантом</span>
                    </a>
                </li>
                <li id="ghost4" class="ghost" data-evidence="GhostWriting Fingerprints SpiritBox">
                    <a asp-controller="Ghost" asp-action="Poltergeist" class="ghost-link">
                        <span class="ghost-name">Полтергейст</span>
                    </a>
                </li>
                <li id="ghost5" class="ghost" data-evidence="Fingerprints GhostOrb DotsProjector">
                    <a asp-controller="Ghost" asp-action="Banshee" class="ghost-link">
                        <span class="ghost-name">Банши</span>
                    </a>
                </li>
                <li id="ghost6" class="ghost" data-evidence="EMF Fingerprints FreezingTemperatures">
                    <a asp-controller="Ghost" asp-action="Jinn" class="ghost-link">
                        <span class="ghost-name">Джинн</span>
                    </a>
                </li>
                <li id="ghost7" class="ghost" data-evidence="GhostWriting SpiritBox GhostOrb">
                    <a asp-controller="Ghost" asp-action="Mare" class="ghost-link">
                        <span class="ghost-name">Мара</span>
                    </a>
                </li>
                <li id="ghost8" class="ghost" data-evidence="GhostWriting FreezingTemperatures GhostOrb">
                    <a asp-controller="Ghost" asp-action="Revenant" class="ghost-link">
                        <span class="ghost-name">Ревенант</span>
                    </a>
                </li>
                <li id="ghost9" class="ghost" data-evidence="EMF GhostWriting FreezingTemperatures">
                    <a asp-controller="Ghost" asp-action="Shade" class="ghost-link">
                        <span class="ghost-name">Тень</span>
                    </a>
                </li>
                <li id="ghost10" class="ghost" data-evidence="GhostWriting Fingerprints FreezingTemperatures">
                    <a asp-controller="Ghost" asp-action="Demon" class="ghost-link">
                        <span class="ghost-name">Демон</span>
                    </a>
                </li>
                <li id="ghost11" class="ghost" data-evidence="FreezingTemperatures GhostOrb DotsProjector">
                    <a asp-controller="Ghost" asp-action="Yurei" class="ghost-link">
                        <span class="ghost-name">Юрэй</span>
                    </a>
                </li>
                <li id="ghost12" class="ghost" data-evidence="EMF FreezingTemperatures DotsProjector">
                    <a asp-controller="Ghost" asp-action="Oni" class="ghost-link">
                        <span class="ghost-name">Они</span>
                    </a>
                </li>
                <li id="ghost13" class="ghost" data-evidence="SpiritBox GhostOrb DotsProjector">
                    <a asp-controller="Ghost" asp-action="Yokai" class="ghost-link">
                        <span class="ghost-name">Ёкай</span>
                    </a>
                </li>
                <li id="ghost14" class="ghost" data-evidence="Fingerprints FreezingTemperatures GhostOrb">
                    <a asp-controller="Ghost" asp-action="Hantu" class="ghost-link">
                        <span class="ghost-name">Ханту</span>
                    </a>
                </li>
                <li id="ghost15" class="ghost" data-evidence="EMF Fingerprints DotsProjector">
                    <a asp-controller="Ghost" asp-action="Goryo" class="ghost-link">
                        <span class="ghost-name">Горё</span>
                    </a>
                </li>
                <li id="ghost16" class="ghost" data-evidence="EMF GhostWriting Fingerprints">
                    <a asp-controller="Ghost" asp-action="Myling" class="ghost-link">
                        <span class="ghost-name">Мюлинг</span>
                    </a>
                </li>
                <li id="ghost17" class="ghost" data-evidence="SpiritBox FreezingTemperatures GhostOrb">
                    <a asp-controller="Ghost" asp-action="Onryo" class="ghost-link">
                        <span class="ghost-name">Онрё</span>
                    </a>
                </li>
                <li id="ghost18" class="ghost" data-evidence="EMF SpiritBox FreezingTemperatures">
                    <a asp-controller="Ghost" asp-action="Twins" class="ghost-link">
                        <span style="color:red" class="ghost-name">Близнецы</span>
                    </a>
                </li>
                <li id="ghost19" class="ghost" data-evidence="EMF GhostOrb DotsProjector">
                    <a asp-controller="Ghost" asp-action="Raiju" class="ghost-link">
                        <span class="ghost-name">Райдзю</span>
                    </a>
                </li>
                <li id="ghost20" class="ghost" data-evidence="EMF Fingerprints GhostOrb">
                    <a asp-controller="Ghost" asp-action="Obake" class="ghost-link">
                        <span class="ghost-name">Обакэ</span>
                    </a>
                </li>
                <li id="ghost21" class="ghost" data-evidence="Fingerprints SpiritBox FreezingTemperatures">
                    <a asp-controller="Ghost" asp-action="Mimic" class="ghost-link">
                        <span class="ghost-name">Мимик</span>
                    </a>
                </li>
                <li id="ghost22" class="ghost" data-evidence="GhostWriting SpiritBox FreezingTemperatures">
                    <a asp-controller="Ghost" asp-action="Moroi" class="ghost-link">
                        <span class="ghost-name">Морой</span>
                    </a>
                </li>
                <li id="ghost23" class="ghost" data-evidence="GhostWriting SpiritBox DotsProjector">
                    <a asp-controller="Ghost" asp-action="Deogen" class="ghost-link">
                        <span class="ghost-name">Деоген</span>
                    </a>
                </li>
                <li id="ghost24" class="ghost" data-evidence="GhostWriting GhostOrb DotsProjector">
                    <a asp-controller="Ghost" asp-action="Thaye" class="ghost-link">
                        <span  class="ghost-name">Тайэ</span>
                    </a>
                </li>

            </ul>
        </div>

        <div style="flex: 1; padding-left: 20px;">
            <div id="buttons-container">

                <button onclick="showInformation()">Информация</button>
                <button onclick="showStrategy()">Стратегия</button>
                <button onclick="showBehavior()">Поведение</button>
            </div>
            <div id="ghost-info"></div>
        </div>

    </div>
    <script>
        showInformation();
        function toggleEvidence(evidenceId) {
            var evidenceElement = document.getElementById(evidenceId);

            if (evidenceElement.classList.contains("evidence-selected")) {
                if (evidenceElement.classList.contains("crossed-out")) {
                    evidenceElement.classList.remove("evidence-selected", "crossed-out");
                } else {
                    evidenceElement.classList.add("crossed-out");
                }
            } else {
                evidenceElement.classList.add("evidence-selected");
            }

            updateGhostVisibility();
        }

        function updateGhostVisibility() {
            var selectedEvidence = document.querySelectorAll(".evidence-selected:not(.crossed-out)");
            var crossedOutEvidence = document.querySelectorAll(".evidence-selected.crossed-out");
            var ghosts = document.querySelectorAll(".ghost");

            ghosts.forEach(function (ghost) {
                var ghostEvidence = ghost.getAttribute("data-evidence").split(" ");
                var isVisible = true;

                selectedEvidence.forEach(function (evidence) {
                    if (ghostEvidence.indexOf(evidence.id) === -1) {
                        isVisible = false;
                    }
                });

                crossedOutEvidence.forEach(function (evidence) {
                    if (ghostEvidence.indexOf(evidence.id) !== -1) {
                        isVisible = false;
                    }
                });

                var ghostNameElement = ghost.querySelector(".ghost-name");
                var ghostTextElement = ghostNameElement.parentNode;

                if (isVisible) {
                    ghostNameElement.style.textDecoration = "none";
                    ghostTextElement.style.color = "white";
                } else {
                    ghostTextElement.style.color = "grey";
                }
            });
        }
        function showInformation() {
            ghostInfo = document.getElementById('ghost-info').innerHTML = `
                    <h3>Информация</h3>
                    <p>Особенности и слабости, перечисленные в журнале: Близнецы</p>
                    <p><strong>Особенность:</strong> Любой из Близнецов может разозлиться и начать охоту.</p>
                    <p><strong>Слабость:</strong> Близнецы часто взаимодействуют с окружающей средой одновременно.</p>

                    <h4>Улики:</h4>
                    <ul>
                        <li>Минусовая температура</li>
                        <li>ЭМП (ур. 5)</li>
                        <li>Радиоприёмник</li>
                    </ul>

                    <p><strong>Порог рассудка:</strong> 50%</p>

                    <h4>Скорость призрака:</h4>
                    <p>1,53 м/с (основной радиус), 11,87 м/с (удалённый радиус)</p>

                    <h4>Множитель скорости:</h4>
                    <select>
                        <option value="50%">50%</option>
                        <option value="75%">75%</option>
                        <option value="100%">100%</option>
                        <option value="125%">125%</option>
                        <option value="150%">150%</option>
                    </select>

                    <h4>Дополнительная информация:</h4>
                    <p>Способность Близнецов - одновременное взаимодействие в двух радиусах: 3м и 16м.</p>
                    <ul>
                        <li>На удалённом радиусе взаимодействия Близнецов не сработают датчики движения, а также в этом месте призрак не даст вам ответ через радиоприёмник и не повлияет на температуру.</li>
                        <li>При охоте существует вероятность 50%, что атака начнётся из основной комнаты призрака или с места последнего взаимодействия.</li>
                        <li>Распятие будет срабатывать только в месте расположения основной комнаты Близнецов, даже если охота должна будет начаться из комнаты последнего удалённого взаимодействия.</li>
                    </ul>
                `;
        }


        function showStrategy() {
            document.getElementById("ghost-info").innerHTML = `
                                        <h2>Стратегия: Тайэ</h2>
                                        <p>
                                                 Основная сила Близнецов - способность вводить в
                                                 заблуждение взаимодействиями в местах, далёких от комнаты призрака. Это может доставить проблемы, особенно на больших картах
                                        <p>
                                                 Тем не менее, эти вводящие в заблуждение взаимодействия могут быть использованы против Близнецов: поскольку призрак физически не находится в комнате, 
                                                 где происходят указанные взаимодействия, в этой области невозможно получить доказательства, кроме ЭМП ур.5. Отсутствие отрицательных температур (или заметных перепадов) 
                                                 и невозможность получения ответов по Радиоприёмнику там, где отмечена активность призрака, является явным признаком Близнецов, пытающихся создать проблемы.
                                        </p>
                                        <p>
                                                Заметное изменение скорости от одной охоты к другой может указывать на то, что игроки имеют дело с Близнецами.
                                                Вам стоит хорошо обдумать свой путь отступления против этого вида призрака (например, с помощью Благовония), так как Близнецы могут появиться либо из основной комнаты,
                                                либо из комнаты последнего удалённого взаимодействия.
                                       </p>
                                    `;
        }


        
            function showBehavior() {
                ghostInfo = document.getElementById('ghost-info').innerHTML = `
                    <h3>Поведение</h3>
                    <p>Несмотря на описание в журнале, Близнецы - это один призрак с двумя радиусами взаимодействия.</p>
                            "Брат-близнец" не взаимодействует с датчиками движения и не предоставляет улик: "Минусовая температура" и "Радиоприёмник".
                            Не может одновременно с “основным близнецом” проводить охоту или паранормальное явление.
                    <p>Во время использования своей способности Близнецы совершают два взаимодействия: одно в обычном радиусе (до 3м), второе в большем (до 16м).</p>
                    <p>Во время начала охоты у Близнецов есть 50% шанс на разное место появления, что также влияет на скорость призрака:</p>
                    <ul>
                        <li>Если место начала охоты - это текущее местоположение призрака, то скорость призрака будет 15м/с.</li>
                        <li>Если призрак начнёт атаку из области последнего удалённого взаимодействия, то его скорость будет 19м/с.</li>
                    </ul>
                    <p>Так как Близнецы - это один призрак, две охоты не могут происходить одновременно, и между атаками будет установлен стандартный период 25 секунд.</p>
                    <p>Когда Близнецы попытаются охотиться, проверка распятия будет применена к тому месту, где в данный момент стоит призрак, даже если охота пытается начаться с места его последнего удалённого взаимодействия.</p>
                `;
            }
    



    </script>
</body>
</html>
