

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Ghost Page</title>
    <style>
        body {
            font-family: 'Times New Roman', Times, serif;
            background-color: #f0f0f0;
            margin: 50px;
        }

        .book {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .clue {
            cursor: pointer;
            text-decoration: none;
            color: #000;
        }

        .ghost {
            text-decoration: none;
            color: #555;
        }

        .selected {
            text-decoration: line-through;
            color: #777;
        }

        .disabled {
            color: #888;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div class="book">
            <h1>Phasmophobia Ghosts</h1>
            <div>
                <h2>Clues</h2>
                <ul>
                    <li class="clue" onclick="toggleClue(this)">EMF Level 5</li>
                    <li class="clue" onclick="toggleClue(this)">Spirit Box</li>
                    <li class="clue" onclick="toggleClue(this)">Fingerprints</li>
                    <li class="clue" onclick="toggleClue(this)">Ghost Writing</li>
                    <li class="clue" onclick="toggleClue(this)">Freezing Temperatures</li>
                    <li class="clue" onclick="toggleClue(this)">Ghost Orb</li>
                    <li class="clue" onclick="toggleClue(this)">D.O.T.S. Projector</li>
                </ul>
            </div>
            <div>
                <h2>Ghosts</h2>
                <ul>
                    <li class="ghost" id="ghost1" runat="server"><a href="GhostPage1.aspx">Ghost 1</a></li>
                    <li class="ghost" id="ghost2" runat="server"><a href="GhostPage2.aspx">Ghost 2</a></li>
                    <li class="ghost" id="ghost3" runat="server"><a href="GhostPage3.aspx">Ghost 3</a></li>
                    <!-- Add more ghosts as needed -->
                </ul>
            </div>
        </div>

        <script>
            function toggleClue(clue) {
                if (clue.classList.contains('selected')) {
                    clue.classList.remove('selected');
                } else {
                    clue.classList.add('selected');
                }
                updateGhostFonts();
            }

            function updateGhostFonts() {
                var ghosts = document.getElementsByClassName('ghost');
                for (var i = 0; i < ghosts.length; i++) {
                    var ghost = ghosts[i];
                    var selectedClues = document.getElementsByClassName('selected');
                    var isGhostEnabled = true;

                    for (var j = 0; j < selectedClues.length; j++) {
                        if (ghost.innerText.indexOf(selectedClues[j].innerText) === -1) {
                            isGhostEnabled = false;
                            break;
                        }
                    }

                    if (isGhostEnabled) {
                        ghost.classList.remove('disabled');
                    } else {
                        ghost.classList.add('disabled');
                    }
                }
            }
        </script>
    </form>
</body>
</html>
