html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Bloody', cursive;
}
/* glavnay*/

.faztex {
    font-size: 224px;
    line-height: 29px;
    padding: 24px 0;
    padding-top: 250px;
    font-weight:600;
    letter-spacing: 0.2ex;
}

.order {
   /* background-image: url("../images/fon1.png");
    position: absolute;
    
    opacity: 0.3;*/
    margin-top :150px;
    padding-top: 100px;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 380px;
    overflow: hidden;
}

    .order .container {
        
        padding-left: 50px;
        padding-bottom: 380px;
        position: relative;
    }
.order-image {
    position: absolute;
    top: 0;
    right: calc(100% - 764px);
    z-index: -1;
    padding-right: 280px;
}

.order-form {
    border-radius: 16px;
    border: 1px solid #316d92;
    background: #2a465c;
    margin-top: 60px;
    width: 426px;
    padding: 60px 40px;
    box-sizing: border-box;
    margin-left: 674px;
}

.order-form-text {
    padding-bottom: 8px;
    font-size: 44px;
    line-height: 29px;
    text-align: center;
}

.haus {
    /* background-image: url("../images/fon1.png");
    position: absolute;
    
    opacity: 0.3;*/

    padding-top: 100px;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 150px;
    overflow: hidden;
}
.haus-image {
    position: absolute;
    top: 0;
    z-index: -1;
    padding-left: 50px;
    padding-bottom: 380px;
}
.haus .container {
    right: calc(100% - 764px);
   
    padding-right: 280px;
    padding-left: 20px;
    padding-bottom: 380px;
    position: relative;
}



.haus-form {
    border-radius: 16px;
    border: 1px solid #316d92;
    background: #2a465c;
    margin-top: 60px;
    width: 426px;
    padding: 60px 40px;
    box-sizing: border-box;
    margin-left: 674px;
}

.haus-form-text {
    padding-bottom: 8px;
    font-size: 44px;
    line-height: 29px;
    text-align: center;
}


.predmet {
    padding-top: 100px;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 150px;
    overflow: hidden;
}

    .predmet .container {
        padding-left: 50px;
        padding-bottom: 380px;
        position: relative;
    }

.predmet-image {
    position: absolute;
    top: 0;
    right: calc(100% - 764px);
    z-index: -1;
    padding-right: 280px;
}

.predmet-form {
    border-radius: 16px;
    border: 1px solid #316d92;
    background: #2a465c;
    margin-top: 60px;
    width: 426px;
    padding: 60px 40px;
    box-sizing: border-box;
    margin-left: 674px;
}

.predmet-form-text {
    padding-bottom: 8px;
    font-size: 44px;
    line-height: 29px;
    text-align: center;
}




.Oborudca {
    /* background-image: url("../images/fon1.png");
    position: absolute;
    
    opacity: 0.3;*/

    padding-top: 100px;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 280px;
    overflow: hidden;
}

.Oborudca-image {
    position: absolute;
    top: 0;
    z-index: -1;
    padding-left: 50px;
    padding-bottom: 380px;
}

.Oborudca .container {
    right: calc(100% - 764px);
    padding-right: 280px;
    padding-left: 20px;
    padding-bottom: 280px;
    position: relative;
}



.Oborudca-form {
    border-radius: 16px;
    border: 1px solid #316d92;
    background: #2a465c;
    margin-top: 60px;
    width: 426px;
    padding: 60px 40px;
    box-sizing: border-box;
    margin-left: 674px;
}

.Oborudca-form-text {
    padding-bottom: 8px;
    font-size: 44px;
    line-height: 29px;
    text-align: center;
}



.fyrgon {
    padding-top: 100px;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 150px;
    overflow: hidden;
}

    .fyrgon .container {
        padding-left: 50px;
        padding-bottom: 380px;
        position: relative;
    }

.fyrgon-image {
    position: absolute;
    top: 0;
    right: calc(100% - 964px);
    z-index: -1;
    padding-right: 280px;
}

.fyrgon-form {
    border-radius: 16px;
    border: 1px solid #316d92;
    background: #2a465c;
    margin-top: 60px;
    width: 426px;
    padding: 60px 40px;
    box-sizing: border-box;
    margin-left: 674px;
}

.fyrgon-form-text {
    padding-bottom: 8px;
    font-size: 44px;
    line-height: 29px;
    text-align: center;
}
.rightpic {
    float: right; /* Выравнивание по правому краю */
    margin: 0 0 5px 5px; /* Отступы вокруг фотографии */
}
