<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о локациях</title>
    <style>
        .location-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            background-color: #f0f0f0;
        }

        .location-list-item {
            margin: 5px;
            padding: 10px;
            cursor: pointer;
            border-radius: 5px;
        }

        .selected {
            background-color: #3498db;
            color: white;
        }

        #location-info {
            margin-top: 20px;
        }
    </style>
</head>
<body>

    <ul class="location-list" id="locationList">
        <li class="location-list-item" onclick="showLocationInfo(this, 'Баня')">Баня</li>
        <li class="location-list-item" onclick="showLocationInfo(this, 'Кухня')">Кухня</li>
        <li class="location-list-item" onclick="showLocationInfo(this, 'Столовая')">Столовая</li>
        <li class="location-list-item" onclick="showLocationInfo(this, 'Спальня')">Спальня</li>
        <li class="location-list-item" onclick="showLocationInfo(this, 'Туалет')">Туалет</li>
    </ul>

    <div id="location-info"></div>

    <script>
        function showLocationInfo(element, location) {
            // Очистить выделение для всех элементов списка
            var items = document.querySelectorAll('.location-list-item');
            items.forEach(function (item) {
                item.classList.remove('selected');
            });

            // Выделить выбранный элемент
            element.classList.add('selected');

            // Отобразить информацию о выбранной локации
            var locationInfo = document.getElementById('location-info');
            locationInfo.innerHTML = `<h2>Информация о локации: ${location}</h2>`;
            // Дополнительная логика для отображения информации о выбранной локации
        }
    </script>
</body>
</html>
