<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Карты локаций</title>
    <style>
        body {
            background-color: black;
            color: white;
            font-family: 'Bloody', cursive;
            margin: 0;
        }

        .location-list-container {
            text-align: center;
            margin-bottom: 20px;
        }

        .location-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .location-list-item {
            margin: 5px;
            cursor: pointer;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 5px solid transparent;
        }

        .selected {
            background-color: #3498db;
            color: white;
            border: 5px solid #3498db;
        }

        #location-info {
            margin-top: 20px;
            text-align: center;
            display: none;
        }

        .location-list-item img {
            width: 300px;
            height: 200px;
            margin-bottom: 5px;
            cursor: pointer;
        }

        .location-name {
            font-size: 12px;
        }

        .location-info-container img {
            width: 100%;
            height: 100%;
        }

        .location-filter {
            text-align: center;
            margin-bottom: 20px;
        }

        .location-filter button {
                background-color: transparent;
                color: white;
                border: 2px solid transparent;
                border-radius: 5px;
                margin: 5px;
                padding: 5px 10px;
                font-size: 16px;
                cursor: pointer;
        }

        .location-filter button:hover {
                border-color: white; /* Голубая граница при наведении */
        }

        .location-filter button.active {
                    border-color: #3498db; /* Голубая граница при активации (нажатии) */
        }
    </style>
</head>
<body>

    <div class="location-list-container">
        <h3>Карты Локаций</h3>
        <div class="location-filter">
            <button onclick="filterLocations('all')" id="allButton">Все</button>
            <button onclick="filterLocations('small')" id="smallButton">Маленькие</button>
            <button onclick="filterLocations('medium')" id="mediumButton">Средние</button>
            <button onclick="filterLocations('large')" id="largeButton">Большие</button>
        </div>

        <ul class="location-list" id="locationList">

            <li class="location-list-item small" onclick="showLocationInfo(this, 'Bleasdale Farmhouse')">
                <img src="/imag/Bleasdale Farmhouse.jpg" alt="Bleasdale Farmhouse">
                <span class="location-name">Bleasdale Farmhouse</span>
            </li>
            <li class="location-list-item small" onclick="showLocationInfo(this, 'Camp Woodwind')">
                <img src="/imag/Camp Woodwind.jpg" alt="Camp Woodwind">
                <span class="location-name">Camp Woodwind</span>
            </li>
            <li class="location-list-item small" onclick="showLocationInfo(this, '6 Tanglewood Drive')">
                <img src="/imag/6 Tanglewood Drive.jpg" alt="Camp Woodwind">
                <span class="location-name">6 Tanglewood Drive</span>
            </li>
            <li class="location-list-item small" onclick="showLocationInfo(this, '13 Willow Street')">
                <img src="/imag/13 Willow Street.jpg" alt="13 Willow Street">
                <span class="location-name">13 Willow Street</span>
            </li>
            <li class="location-list-item small" onclick="showLocationInfo(this, '10 Ridgeview Court')">
                <img src="/imag/10 Ridgeview Court.jpg" alt="10 Ridgeview Cour">
                <span class="location-name">10 Ridgeview Cour</span>
            </li>
            <li class="location-list-item small" onclick="showLocationInfo(this, '42 Edgefield Road')">
                <img src="/imag/42-Edgefield-Road.jpg" alt="42 Edgefield Road">
                <span class="location-name">42 Edgefield Road</span>
            </li>
            <li class="location-list-item small" onclick="showLocationInfo(this, 'Grafton Farmhouse')">
                <img src="/imag/Grafton Farmhouse.jpg" alt="Grafton Farmhouse">
                <span class="location-name">Grafton Farmhouse</span>
            </li>
            <li class="location-list-item medium" onclick="showLocationInfo(this, 'Maple Lodge Campsite')">
                <img src="/imag/Maple Lodge Campsite.jpg" alt="Maple Lodge Campsite">
                <span class="location-name">Maple Lodge Campsite</span>
            </li>
            <li class="location-list-item medium" onclick="showLocationInfo(this, 'Prison')">
                <img src="/imag/Prison.jpg" alt="Prison">
                <span class="location-name">Prison</span>
            </li>
            <li class="location-list-item large" onclick="showLocationInfo(this, 'Brownstone High School')">
                <img src="/imag/Brownstone High School.jpg" alt="Brownstone High School">
                <span class="location-name">Brownstone High School</span>
            </li>
            <li class="location-list-item large" onclick="showLocationInfo(this, 'Sunny Meadows Mental Institution')">
                <img src="/imag/Sunny Meadows Mental Institution.jpg" alt="Sunny Meadows Mental Institution">
                <span class="location-name">Sunny Meadows Mental Institution</span>
            </li>
            
        </ul>
    </div>

    <div id="location-info" class="location-info-container">
        <h2 id="location-title"></h2>
        <img id="location-image" src="" alt="Локация">
        <p id="location-description"></p>
    </div>

    <script>
        // Объект с информацией о локациях
        var locationsInfo = {
            'Bleasdale Farmhouse': {
                image: '/imag/Bleasdale Farmhouse-map1.jpg',
                description: 'деревянный дом'
            },
            'Camp Woodwind': {
                image: '/imag/Phasmophobia-Camp-Woodwind-easter-egg-map.jpg',
                description: 'Небольшой лагерь.'
            },
            '6 Tanglewood Drive': {
                image: '/imag/Tanglewood-Street-House.jpg',
                description: 'не плох для начального уровня.'
            },
            '13 Willow Street': {
                image: '/imag/Phasmophobia-Willow-Street-easter-egg-map.jpg',
                description: 'учиться лучше с него.'
            },
            '42 Edgefield Road': {
                image: '/imag/Ridgeview_map.jpg',
                description: '3 этажа счастья.'
            },
            'Grafton Farmhouse': {
                image: '/imag/Ridgeview_map.jpg',
                description: '3 этажа счастья.'
            },
            'Maple Lodge Campsite': {
                image: '/imag/Ridgeview_map.jpg',
                description: '3 этажа счастья.'
            },
            'Prison': {
                image: '/imag/Ridgeview_map.jpg',
                description: '3 этажа счастья.'
            },
            '10 Ridgeview Court': {
                image: '/imag/Ridgeview_map.jpg',
                description: '3 этажа счастья.'
            },
            'Brownstone High School': {
                image: '/imag/Ridgeview_map.jpg',
                description: '3 этажа счастья.'
            },
            'Sunny Meadows Mental Institution': {
                image: '/imag/Ridgeview_map.jpg',
                description: '3 этажа счастья.'
            }
        };
      

        function showLocationInfo(element, location) {
            // Очистить выделение для всех элементов списка
            var items = document.querySelectorAll('.location-list-item');
            items.forEach(function (item) {
                item.classList.remove('selected');
            });

            // Выделить выбранный элемент
            element.classList.add('selected');

            // Получить элементы
            var locationTitle = document.getElementById('location-title');
            var locationImage = document.getElementById('location-image');
            var locationDescription = document.getElementById('location-description');

            // Установить заголовок, изображение и описание
            
            locationTitle.textContent =  location;
            locationImage.src = locationsInfo[location].image;
            locationDescription.textContent = locationsInfo[location].description;
            
            var locationInfo = document.getElementById('location-info');
            locationInfo.style.display = 'block';
        }
        function filterLocations(size) {
            var items = document.querySelectorAll('.location-list-item');
            var buttons = document.querySelectorAll('.location-filter button');

            items.forEach(function (item) {
                item.classList.remove('selected');
                item.style.display = 'none';

                if (size === 'all' || item.classList.contains(size)) {
                    item.style.display = 'flex';
                }
            });

            var locationInfo = document.getElementById('location-info');
            locationInfo.style.display = 'none';

            // Установим активный класс кнопке, которая была нажата
            buttons.forEach(function (button) {
                button.classList.remove('active');
            });

            var activeButton = document.getElementById(size + 'Button');
            activeButton.classList.add('active');
        }

    </script>
</body>
</html>
