<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проклятые предметы</title>
    <style>
        body {
            background-color: black;
            color: white;
            font-family: 'Bloody', cursive;
            margin: 0;
        }

        .location-list-container {
            text-align: center;
            margin-bottom: 20px;
        }

        .location-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap; /* Добавленный стиль для переноса на новую строку */
        }

        .location-list-item {
            margin: 5px;
            cursor: pointer;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 5px solid transparent;
        }

        .selected {
            background-color: #3498db;
            color: white;
            border: 5px solid #3498db;
        }

        #location-info {
            margin-top: 20px;
            text-align: center;
        }

        .location-list-item img {
            width: 200px;
            height: 200px;
            margin-bottom: 5px;
            cursor: pointer;
        }

        .location-name {
            font-size: 12px;
        }

        .location-info h2 {
            text-align: center; /* Добавленный стиль для центрирования заголовков h2 */
        }

        .location-info-container img {
            width: 100%;
            height: 100%;
        }

        .location-info img {
            width: 80vw; /* 80% ширины viewport */
            max-width: 95%; /* Максимальная ширина  */
            height: auto; /* Автоматическое вычисление высоты для поддержки соотношения сторон */
            margin: 20px auto; /* Добавленный стиль для центрирования изображений */
            display: block; /* Установка блочного типа для изображений */
        }

        .location-info {
            display: none;
        }
    </style>
</head>
<body>

    <div class="location-list-container">
        

        <ul class="location-list" id="locationList">
            <li class="location-list-item" data-location="monkey-paw" onclick="showLocationInfo('monkey-paw')">
                <img src="/imag/Apocalypse.png" alt="monkey paw">
                <span class="location-name">Челлендж «Apocalypse»</span>
            </li>

            <li class="location-list-item" data-location="Summoning-Circle" onclick="showLocationInfo('Summoning-Circle')">
                <img src="/imag/Prestij.png" alt="prestij">
                <span class="location-name">Престиж</span>
            </li>

            <li class="location-list-item" data-location="Music-Box" onclick="showLocationInfo('Music-Box')">
                <img src="/imag/clojnost.png" alt="Music Box">
                <span class="location-name">Сложности</span>
            </li>

            <li class="location-list-item" data-location="Ouija_Board" onclick="showLocationInfo('Ouija_Board')">
                <img src="/imag/furgonfon.png" alt="Ouija Board">
                <span class="location-name">Оборудование в фургоне</span>
            </li>

           

        </ul>
    </div>

    <div id="monkey-paw-info" class="location-info">
        <h2>Челлендж «Apocalypse»</h2>
        <div style="text-align: center;">
            <img src="/imag/Apocalypse.png" alt="Apocalypse" style="display: inline-block; vertical-align: middle;">
        </div>
        <h2>Требования к заданию :</h2>
       <ul>
            <li>Создайте пользовательскую сложность (см. ниже).</li>
            <li>Играйте в одиночном режиме на психиатрической больнице "Санни Медоуз".</li>
            <li>Выполните все 4 задачи (включая угадывание правильного призрака).</li>
            <li>Получите фотографию призрака (любое количество звезд).</li>
        </ul>
        <h2>Награды будут вручаться в зависимости от установленной пользовательской сложности:</h2>
        <ul>
            <li>Множитель 6x или выше: Бронза</li>
            <li>Множитель 10x или выше: Серебро.</li>
            <li>Множитель 15x: Золото.</li>
        </ul>
        <p>
            После выполнения требований игрок автоматически получит трофеи(й) в конце контракта; дополнительных действий не требуется. После получения эти трофеи будут отображаться в холле.
            Известна ошибка, при которой серебряный трофей появится только после перезагрузки лобби/игры.
            Челлендж постоянный и будет существовать бесконечно.
        </p>
       </div>

    <div id="Summoning-Circle-info" class="location-info">
        <h2>Престиж</h2>
        <div style="text-align: center;">
            <img src="/imag/Prestij.png" alt="Summoning Circle" style="display: inline-block; vertical-align: middle;">
        </div>
        <h2>Общее описани</h2>
        <p>Престиж — это игровая механика, обнуляющая текущий уровень, опыт, количество денег, уровень снаряжения и его количества, но позволяющая получить за это особые награды. </p>
        <p> Каждый игрок начинает с 1 уровня с 0 XP и зарабатывает XP за выполнение контрактов. Опыт, необходимый для повышения уровня, постепенно увеличивается. Максимально можно получить 999 уровень.</p>
        <p>При достижении 100-го уровня игрок получает возможность повысить Престиж, который обнулит уровень, деньги и снаряжение. Максимально можно достичь 20-го Престижа.</p>

        <h2>Список престижей</h2>
        <p>За каждый Престиж игрок получает новый бейдж (для ID-карты и на плечо персонажа), новое оформление ID-карты и дополнительные шаблоны для снаряжения в магазине (максимум 10 шаблонов).</p>
        <p>Уровень Престижа игрока будет отображаться в виде римских цифр перед его уровнем (например, IV-007). Престижи 1-10 имеют белый фон и бейдж со статичным изображением, а престижи 11-20 с чёрным фоном и анимированным бейджем.</p>
        <h2>А вот так выглядят значки и задние фоны профиля:</h2>

        <ul>
            <li>0-й престиж:</li>
                <img src="/imag/Prestij.png"/> 
            <li>1-й престиж:</li>
            <img src="/imag/Prestij1.png" />
            <li>2-й престиж:</li>
                <img src="/imag/Prestij2.png"/> 
            <li>3-й престиж:</li>
                <img src="/imag/Prestij3.png"/> 
             <li>4-й престиж:</li>
                <img src="/imag/Prestij4.png"/> 
             <li>5-й престиж:</li>
                <img src="/imag/Prestij5.png"/> 
             <li>6-й престиж:</li>
                <img src="/imag/Prestij6.png"/> 
             <li>7-й престиж:</li>
                <img src="/imag/Prestij7.png"/> 
             <li>8-й престиж:</li>
                <img src="/imag/Prestij8.png"/> 
             <li>9-й престиж:</li>
                <img src="/imag/Prestij9.png"/> 
             <li>10-й престиж:</li>
                <img src="/imag/Prestij10.png"/>
            <h4>
                Далее идут анимированные значки:
            </h4>
            <li>11-й престиж:</li>
                 <img src="/imag/3021916427_preview_1 (1).gif" />
            <li>12-й престиж:</li>
                <img src="/imag/12_preview_2.gif"/>
            <li>13-й престиж:</li>
            <img src="/imag/13_preview_3.gif" />
            <li>14-й престиж:</li>
            <img src="/imag/14_preview_4.gif" />
            <li>15-й престиж:</li>
            <img src="/imag/15_preview_5.gif" />
            <li>16-й престиж:</li>
            <img src="/imag/16_preview_6.gif" />
            <li>17-й престиж:</li>
            <img src="/imag/17_preview_7.gif" />
            <li>18-й престиж:</li>
            <img src="/imag/18_preview_8.gif" />
            <li>19-й престиж:</li>
            <img src="/imag/19_preview_9.gif" />
            <li>20-й престиж:</li>
            <img src="/imag/20_preview_10.gif" />

            <h4>
                Так же есть значки и профили за временные события (о них я говорил в своем руководстве о трофеях):
            </h4>
            <li>Новый год 2022:</li>
                 <img src="/imag/Prestij21.png" />
            <li>Пасха 2023:</li>
                 <img src="/imag/Prestij22.png" />
            <li>Хэллоуин 2023:</li>
                 <img src="/imag/Prestij23.png" />

        </ul>
        <h2>
            Рекомендации
        </h2>
        <p>Если вы желаете поднять как можно скорее уровень и при этом вы знаете как ведут себя призраки, то для вас существуют следующие рекомендуемые настройки:</p>
        <ul>
            <li>Игрок:
                <ul>
                    <li>Начальный уровень рассудка: 0</li>
                    <li>Эффективность успокоительного (%): 0</li>
                    <li>Скорость снижения рассудка (%): 200</li>
                    <li>Бег: Выключен</li>
                    <li>Скорость игрока (%): 100</li>
                    <li>Фонарики: Выключены</li>
                    <li> Потеря предметов инвентаря в случае смерти: Включена</li>

                </ul>
            </li>
            <li>Призрак:
                <ul>
                    <li>Скорость призрака (%): 100</li>
                    <li> Частота перемещений: Высокая</li>
                    <li>Смена любимой комнаты: Высокая</li>
                    <li> Количество взаимодействий: Низкое</li>
                    <li>Частота событий: Низкая</li>
                    <li>Дружелюбное привидение: Выключено</li>
                    <li>Безопасный период (с): 1 (можно 0)</li>
                    <li>Длительность охоты: Высокая</li>
                    <li>Убийства увеличивают длительность охоты: Выключено</li>
                    <li>Количество предоставленный доказательств: 1 (можно 0)</li>
                    <li> Шанс призрака оставить отпечатки (%): 100</li>
                    <li> Как долго держатся отпечатки (с): 15</li>
                </ul>
            </li>
            <li>
                Контракт:
                <ul>
                    
                    <li> Время на расстановку оборудования (с): 0</li>
                    <li>Погода: Ливень</li>
                    <li> Двери открытые по умолчанию: Высоко</li>
                    <li> Количество укрытий: Низко</li>
                    <li>Монитор рассудка: Выключен</li>
                    <li>Монитор активности: Выключен</li>
                    <li>Электрический щит: Сломан</li>
                    <li> Количество проклятых предметов: 0</li>
                </ul>
            </li>
        </ul>
        <p> Выставив эти рекомендации в специальной сложности у вас получиться множитель х10,40.</p>
        <h4>Рекомендуемые карты: 6 Tanglewood Drive / 13 Willow Street </h4>
        <h2>Рекомендуемые предметы:</h2>
        <p>Если 0 доказательств, то:</p>
        <ul>
            <li>Видеокамера</li>
            <li>Зажигалка</li>
            <li>Благовоние</li>
            <li>Соль и направленный микрофон (не обязательно)</li>
        </ul>
        <p>(любой уровень снаряжения)</p>
        <p>Если 1 доказательство и более, то:</p>
        <ul> 
            <li>Всё снаряжение </li>
        </ul>
        <p>(любой уровень снаряжения)</p>
    </div>

    <div id="Music-Box-info" class="location-info">
        <h2>Сложности</h2>
        
        <p>Уровни сложности регулируют опыт игрока в зависимости от его мастерства. Есть пять основных сложностей: Любитель, Средняя, Профессионал, Кошмар и Безумие. Также можно создавать собственные сложности. Сложности различаются в зависимости от настроек игрока, призрака и контракта, что даёт разные награды.</p>
        <h2>Основные сложности</h2>
        <h4>Любитель</h4>
        <p>"Рекомендовано для начинающих охотников!" Это самая простая сложность, рассчитанная на игроков, которые только начинают играть и потихоньку осваивают механику.</p>
         <ul>
            <li>Нормальное денежное вознаграждение</li>
            <li>Нормальный прирост опыта</li>
            <li>Фаза подготовки длится 5 минут</li>
            <li>Частая активность призрака</li>
            <li>Ни одна дверь не будет открыта</li>
            <li>Самая короткая фаза охоты: 15 секунд на маленькой карте 30 секунд на средней карте 40 секунд на большой карте</li>
            <li>Успокоительное восстанавливает 40% рассудка</li>
            <li>Мёртвым игрокам возвращается 50% стоимости купленных ими предметов</li>
        </ul>
        <h4>Средняя</h4>
        <p>"Золотой стандарт для охотников за привидениями" Эта сложность рассчитана на среднего игрока, хорошо разбирающегося в механике игры.</p>
        <ul>
            <li>Открывается на 10-ом уровне</li>
            <li>2x множитель денежной награды</li>
            <li>2х множитель опыта</li>
            <li>Фаза подготовки длится 2 минуты</li>
            <li>1.5x множитель скорости падения рассудка</li>
            <li>Обычная активность призрака</li>
            <li>Некоторые двери будут открыты</li>
            <li>Средняя фаза охоты: 20 секунд на маленькой карте 40 секунд на средней карте 50 секунд на большой карте</li>
            <li>Успокоительное восстанавливает 35% рассудка</li>
            <li>Мёртвым игрокам возвращается 25 % стоимости купленных ими предметов</li>
            <li>Электрощиток выключен в начале игры</li>
            <li>Некоторые укрытия будут заблокированы</li>
        </ul>
        <h4>Профессионал</h4>
        <p>"Для опытных охотников за привидениями" Эта сложность предназначена для опытных игроков, которые достаточно хорошо знакомы с основными механиками, призраками и стратегиями, необходимыми для завершения расследования.</p>
    <ul>
            <li>Открывается на 20-ом уровне</li>
            <li>3x множитель денежной награды</li>
            <li>3x множитель опыта</li>
            <li>Отсутствует фаза подготовки</li>
            <li>2x множитель скорости падения рассудка</li>
            <li>Необычная активность призрака</li>
            <li>Некоторые двери будут открыты</li>
            <li>Длительная фаза охоты:</li>
            <p> 30 секунд на маленькой карте 50 секунд на средней карте 60 секунд на большой карте</p>
            <li>Успокоительное восстанавливает 30% рассудка</li>
            <li>Мёртвым игрокам не возвращается стоимость купленных ими вещей.</li>
            <li>Электрощиток выключен в начале игры.</li>
            <li>На доске задач не указано, отвечает призрак всем или только одиночкам.</li>
            <li>Комната призрака будет меняться редко</li>
            <li>Большинство укрытий будет заблокировано</li>
    </ul>
    <h4>Кошмар</h4>
        <p>"Серьёзное испытание для лучших из лучших" Эта сложность - вызов, предназначенный исключительно для игроков, которые знают механику игры изнутри, имеют большой практический опыт в охоте на призраков, а также твердую стратегию или план действий, особенно в команде.</p>
    <ul>
            <li>Открывается на 30-ом уровне</li>
            <li>4x денежное вознаграждение</li>
            <li>4x множитель опыта</li>
            <li>Отсутствует фаза подготовки</li>
            <li>2x множитель скорости падения рассудка</li>
            <li>Необычная активность призрака</li>
            <li>Многие двери будут открыты</li>
            <li>Самая долгая фаза охоты: 30 секунд на маленькой карте 50 секунд на средней карте 60 секунд на большой карте</li>
            <li>Успокоительное восстанавливает 25% рассудка</li>
            <li>Мёртвым игрокам не возвращается стоимость купленных ими вещей.</li>
            <li>Электрощиток выключен в начале игры</li>
            <li>Электрощиток не отображается на карте в фургоне</li>
            <li>На доске задач не указано, отвечает призрак всем или только одиночкам.</li>
            <li>Комната призрака будет периодически меняться</li>
            <li>Монитор рассудка и монитор активности повреждены и отображают случайные значения</li>
            <li>Почти все укрытия будут заблокированы</li>
            <li>Успешное убийство продлевает фазу охоты, позволяя убить несколько раз за одну охоту</li>
            <li>Призрак предоставит только 2 улики вместо 3.</li>
    </ul>
    <h4>Безумие</h4>
        <p>"Осмелитесь? С этими призраками шутки плохи..."</p>
    <ul>
            <li>Открывается на 40-ом уровне</li>
            <li>6x денежное вознаграждение</li>
            <li>6x множитель опыта</li>
            <li>Отсутствует фаза подготовки</li>
            <li>Нет проклятого предмета</li>
            <li>Начальный уровень рассудка 75%</li>
            <li>2x множитель скорости падения рассудка</li>
            <li>Необычная активность призрака</li>
            <li>Многие двери будут открыты</li>
            <li>Самая долгая фаза охоты: 30 секунд на маленькой карте 50 секунд на средней карте 60 секунд на большой карте</li>
            <li>Успокоительное восстанавливает 20% рассудка</li>
            <li>Мёртвым игрокам не возвращается стоимость купленных ими вещей.</li>
            <li>Электрощиток выключен в начале игры</li>
            <li>Электрощиток не отображается на карте в фургоне</li>
            <li>На доске задач не указано, отвечает призрак всем или только одиночкам.</li>
            <li>Комната призрака будет часто меняться</li>
            <li>Монитор рассудка и монитор активности повреждены и отображают случайные значения</li>
            <li>Почти все укрытия будут заблокированы</li>
            <li>Успешное убийство продлевает фазу охоты, позволяя убить несколько раз за одну охоту</li>
            <li>Призрак предоставит только 1 улику вместо 3</li>
    </ul>
    <h2>Пользовательская сложность</h2>
        <p>Доступна с получением 50 уровня. Вы можете настроить уже имеющийся уровень сложности (Любитель, Средний, Профессионал, Кошмар, Безумие) или создать свой с нуля. Для создания выберите в уровнях сложности один из «Специальная 1-3». «Шаблоны» - копирование настроек из других уровней сложности; «Награды» - умножает количество заработанных денег и опыта; «Кубик» - подбор случайных настроек.</p>
        <h4>Игрок</h4>
        <ul>
            <li>Начальный уровень рассудка Рассудок каждого игрока в начале игры</li>
            <li>Эффективность успокоительного (в процентах) Сколько рассудка восстанавливает успокоительное</li>
            <li>Скорость снижения рассудка (в процентах) Скорость снижения рассудка в темноте</li>
            <li>Бег Возможность активировать бег</li>
            <li>Скорость игрока (в процентах) Скорость передвижения игроков</li>
            <li>Фонарики При выключении, фонарики не будут работать</li>
            <li>Потеря предметов инвентаря в случае смерти При выключении, награды будут недоступны</li>
        </ul>
        <h4>Призрак</h4>
        <ul>
            <li>Скорость призрака (в процентах) Как быстро призрак перемещается</li>
            <li>Частота перемещений Как часто призрак перемещается в пространстве</li>
            <li>Смена любимой комнаты Шанс того, что призрак поменяет свою любимую комнату</li>
            <li>Кол-во взаимодействий Шанс того, что призрак взаимодействует с объектами</li>
            <li>Частота событий Шанс того, что призрак инициирует паранормальное явление</li>
            <li>Дружелюбное привидение Призрак никогда не будет охотиться. Включение этого параметра означает, что наград при завершении контракта даваться не будет.</li>
            <li>Безопасный период (в секундах) Сколько времени даётся в начале охоты перед тем, как призрак сможет убить вас</li>
            <li>Длительность охоты (в секундах) Сколько продолжится каждая фаза охоты</li>
            <li>Убийства увеличивают длительность охоты (в секундах) Сколько времени добавляется к длительности каждой охоты, при смерти игрока во время неё</li>
            <li>Кол-во предоставленных доказательств Сколько доказательств будет возможно собрать</li>
            <li>Шанс призрака оставить отпечатки (в процентах) Шанс того, что при взаимодействии, призрак оставит отпечатки</li>
            <li>Как долго держатся отпечатки (в секундах) Как долго отпечатки видны, прежде чем исчезнуть`,</li>
        </ul>
        <h4>Контракт</h4>
        <ul>
            <li>Время на расстановку оборудования (в секундах) Как скоро призрак может начать охотиться</li>
            <li>Погода Выбор погоды в локации</li>
            <li>Двери открыты по умолчанию Сколько дверей уже случайным образом открыты в начале игры</li>
            <li>Кол-во укрытий Сколько укрытий доступно</li>
            <li>Монитор рассудка То, работает ли монитор рассудка</li>
            <li>Монитор активности То, работает ли монитор активности</li>
            <li>Электрический щиток доступен уже с начала игры Включен ли электрический щиток в начале игры</li>
            <li>Электрический щиток видно на карте То, виден ли электрический щиток на карте</li>
            <li>Кол-во проклятых предметов Сколько проклятых предметов будет доступно</li>
            <li>Выбор проклятых предметов</li>
        </ul>
        <h2>Особый режим</h2>
        <p>Уникальная сложность с настраиваемым снаряжением и возможными другими изменениями сложности доступна каждую неделю. В настоящее время существует 26 возможных вариантов Особого режима. Специально для этого режима предоставляется бесплатное снаряжение. Прохождение Особого режима на определенной карте 3 раза вознаграждает игрока $5000 и 5000 XP.</p>
    </div>

    <div id="Ouija_Board-info" class="location-info">
        <h2>Оборудование в фургоне</h2>
        <div style="text-align: center;">
            <img src="/imag/furgonfon.png" alt="Ouija Board" style="display: inline-block; vertical-align: middle;">
        </div>
        <p> Доска Уиджи (англ. Ouija Board) — 1 из 7 проклятых предметов, которая позволяет общаться с призраками ценой рассудка игрока.</p>
        <h2>Использование:</h2>
        <p>Чтобы использовать доску Уиджи, необходимо активировать её щелчком ЛКМ. На неё будет положена планшетка. Чтобы задать призраку вопрос, нужно нажать на кнопку «V» (по умолчанию) и поговорить с призраком.</p>
        <p>Чтобы остановить использование доски Уиджи необходимо попрощаться используя фразу «До свидания», после чего, с неё будет убрана планшетка. Если отойти от доски, не выключив её, то она сгорит, и призрак начнёт проклятую охоту.</p>
        <p>Можно сфотографировать доску, и фото принесет в награду 5$. Также можно сфотографировать процесс ответа призрака, и фото под названием «Взаимодействие» принесет еще 5$.</p>
        <h2>Возможные вопросы и эфекты от них:</h2>

       

        <h2>Награда за фотографию:</h2>
        <p>Фотография доски Уиджи, независимо от того активирована она или нет, принесёт игроку 5$ и 5XP (зависимо от расстояния, с которого она была сделана).</p>
        <p>Если фотография доски Уиджи будет сделана в течение 20 секунд, после успешно заданного вопроса, игрок сфотографирует "Взаимодействие" и получит 5$ и 5XP (зависимо от расстояния, с которого она была сделано). Количество таких фотографий, в которые также входят вопросы одной и той же категории, не ограничено, что позволяет игрокам заполнить свободные места дополнительными фотографиями "Взаимодействие".</p>

    </div>

  

   
    



    <script>
        function showLocationInfo(locationName) {
            // Скрыть все блоки с информацией
            var locationInfos = document.querySelectorAll('.location-info');
            locationInfos.forEach(function (info) {
                info.style.display = 'none';
            });

            // Удалить класс .selected у всех элементов списка
            var locationListItems = document.querySelectorAll('.location-list-item');
            locationListItems.forEach(function (item) {
                item.classList.remove('selected');
            });

            // Отобразить блок информации для выбранной локации
            var selectedInfo = document.getElementById(locationName + '-info');
            selectedInfo.style.display = 'block';

            // Добавить класс .selected к выбранному элементу списка
            var selectedListItem = document.querySelector('.location-list-item[data-location="' + locationName + '"]');
            selectedListItem.classList.add('selected');
        }
    </script>

</body>
</html>