<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проклятые предметы</title>
    <style>
        body {
            background-color: black;
            color: white;
            font-family: 'Bloody', cursive;
            margin: 0;
        }

        .location-list-container {
            text-align: center;
            margin-bottom: 20px;
        }

        .location-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap; /* Добавленный стиль для переноса на новую строку */
        }

        .location-list-item {
            margin: 5px;
            cursor: pointer;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 5px solid transparent;
        }

        .selected {
            background-color: #3498db;
            color: white;
            border: 5px solid #3498db;
        }

        #location-info {
            margin-top: 20px;
            text-align: center;
        }

        .location-list-item img {
            width: 200px;
            height: 200px;
            margin-bottom: 5px;
            cursor: pointer;
        }

        .location-name {
            font-size: 12px;
        }

        .location-info h2 {
            text-align: center; /* Добавленный стиль для центрирования заголовков h2 */
        }

        .location-info-container img {
            width: 100%;
            height: 100%;
        }

        .location-info img {
            width: 80vw; /* 80% ширины viewport */
            max-width: 95%; /* Максимальная ширина  */
            height: auto; /* Автоматическое вычисление высоты для поддержки соотношения сторон */
            margin: 20px auto; /* Добавленный стиль для центрирования изображений */
            display: block; /* Установка блочного типа для изображений */
        }

        .location-info {
            display: none;
        }
    </style>
</head>
<body>

    <div class="location-list-container">
        

        <ul class="location-list" id="locationList">
            <li class="location-list-item" data-location="monkey-paw" onclick="showLocationInfo('monkey-paw')">
                <img src="/imag/Apocalypse.png" alt="monkey paw">
                <span class="location-name">Челлендж «Apocalypse»</span>
            </li>

            <li class="location-list-item" data-location="Summoning-Circle" onclick="showLocationInfo('Summoning-Circle')">
                <img src="/imag/Prestij.png" alt="prestij">
                <span class="location-name">Престиж</span>
            </li>

            <li class="location-list-item" data-location="Music-Box" onclick="showLocationInfo('Music-Box')">
                <img src="/imag/Music-Box3.jpg" alt="Music Box">
                <span class="location-name">Музыкальная шкатулка</span>
            </li>

            <li class="location-list-item" data-location="Ouija_Board" onclick="showLocationInfo('Ouija_Board')">
                <img src="/imag/Ouija_Board3.jpg" alt="Ouija Board">
                <span class="location-name">Доска Уиджи</span>
            </li>

           

        </ul>
    </div>

    <div id="monkey-paw-info" class="location-info">
        <h2>Челлендж «Apocalypse»</h2>
        <div style="text-align: center;">
            <img src="/imag/Apocalypse.png" alt="Apocalypse" style="display: inline-block; vertical-align: middle;">
        </div>
        <h2>Требования к заданию :</h2>
       <ul>
            <li>Создайте пользовательскую сложность (см. ниже).</li>
            <li>Играйте в одиночном режиме на психиатрической больнице "Санни Медоуз".</li>
            <li>Выполните все 4 задачи (включая угадывание правильного призрака).</li>
            <li>Получите фотографию призрака (любое количество звезд).</li>
        </ul>
        <h2>Награды будут вручаться в зависимости от установленной пользовательской сложности:</h2>
        <ul>
            <li>Множитель 6x или выше: Бронза</li>
            <li>Множитель 10x или выше: Серебро.</li>
            <li>Множитель 15x: Золото.</li>
        </ul>
        <p>
            После выполнения требований игрок автоматически получит трофеи(й) в конце контракта; дополнительных действий не требуется. После получения эти трофеи будут отображаться в холле.
            Известна ошибка, при которой серебряный трофей появится только после перезагрузки лобби/игры.
            Челлендж постоянный и будет существовать бесконечно.
        </p>
       </div>

    <div id="Summoning-Circle-info" class="location-info">
        <h2>Престиж</h2>
        <div style="text-align: center;">
            <img src="/imag/Prestij.png" alt="Summoning Circle" style="display: inline-block; vertical-align: middle;">
        </div>
        <h2>Общее описани</h2>
        <p>Престиж — это игровая механика, обнуляющая текущий уровень, опыт, количество денег, уровень снаряжения и его количества, но позволяющая получить за это особые награды. </p>
        <p> Каждый игрок начинает с 1 уровня с 0 XP и зарабатывает XP за выполнение контрактов. Опыт, необходимый для повышения уровня, постепенно увеличивается. Максимально можно получить 999 уровень.</p>
        <p>При достижении 100-го уровня игрок получает возможность повысить Престиж, который обнулит уровень, деньги и снаряжение. Максимально можно достичь 20-го Престижа.</p>

        <h2>Список престижей</h2>
        <p>За каждый Престиж игрок получает новый бейдж (для ID-карты и на плечо персонажа), новое оформление ID-карты и дополнительные шаблоны для снаряжения в магазине (максимум 10 шаблонов).</p>
        <p>Уровень Престижа игрока будет отображаться в виде римских цифр перед его уровнем (например, IV-007). Престижи 1-10 имеют белый фон и бейдж со статичным изображением, а престижи 11-20 с чёрным фоном и анимированным бейджем.</p>
        <h2>А вот так выглядят значки и задние фоны профиля:</h2>

        <ul>
            <li>0-й престиж:</li>
                <img src="/imag/Prestij.png"/> 
            <li>1-й престиж:</li>
            <img src="/imag/Prestij1.png" />
            <li>2-й престиж:</li>
                <img src="/imag/Prestij2.png"/> 
            <li>3-й престиж:</li>
                <img src="/imag/Prestij3.png"/> 
             <li>4-й престиж:</li>
                <img src="/imag/Prestij4.png"/> 
             <li>5-й престиж:</li>
                <img src="/imag/Prestij5.png"/> 
             <li>6-й престиж:</li>
                <img src="/imag/Prestij6.png"/> 
             <li>7-й престиж:</li>
                <img src="/imag/Prestij7.png"/> 
             <li>8-й престиж:</li>
                <img src="/imag/Prestij8.png"/> 
             <li>9-й престиж:</li>
                <img src="/imag/Prestij9.png"/> 
             <li>10-й престиж:</li>
                <img src="/imag/Prestij10.png"/>
            <h4>
                Далее идут анимированные значки:
            </h4>
            <li>11-й престиж:</li>
                 <img src="/imag/3021916427_preview_1 (1).gif" />
            <li>12-й престиж:</li>
                <img src="/imag/12_preview_2.gif"/>
            <li>13-й престиж:</li>
            <img src="/imag/13_preview_3.gif" />
            <li>14-й престиж:</li>
            <img src="/imag/14_preview_4.gif" />
            <li>15-й престиж:</li>
            <img src="/imag/15_preview_5.gif" />
            <li>16-й престиж:</li>
            <img src="/imag/16_preview_6.gif" />
            <li>17-й престиж:</li>
            <img src="/imag/17_preview_7.gif" />
            <li>18-й престиж:</li>
            <img src="/imag/18_preview_8.gif" />
            <li>19-й престиж:</li>
            <img src="/imag/19_preview_9.gif" />
            <li>20-й престиж:</li>
            <img src="/imag/20_preview_10.gif" />

            <h4>
                Так же есть значки и профили за временные события (о них я говорил в своем руководстве о трофеях):
            </h4>
            <li>Новый год 2022:</li>
                 <img src="/imag/Prestij21.png" />
            <li>Пасха 2023:</li>
                 <img src="/imag/Prestij22.png" />
            <li>Хэллоуин 2023:</li>
                 <img src="/imag/Prestij23.png" />

        </ul>

     
    </div>

    <div id="Music-Box-info" class="location-info">
        <h2>Музыкальная шкатулка</h2>
        <div style="text-align: center;">
            <img src="/imag/Music-Box2.jpg" alt="Music Box" style="display: inline-block; vertical-align: middle;">
        </div>
        <p>Музыкальная шкатулка (англ. Music Box) - 1 из 7 проклятых предметов, с помощью которой можно определить местонахождение призрака, хотя и со значительным риском, если обращаться с ней неосторожно. Так же, это хорошая возможность сфотографировать призрака, пока он идёт к шкатулке.</p>
        <h2>Использование:</h2>
        <p>Музыкальную шкатулку можно активировать, взяв ее в руку и используя клавишу основного использования (по умолчанию: ПКМ). Если предмет использовать до завершения фазы подготовки, то это приведёт её к досрочному завершению. Музыкальную шкатулку можно использовать только один раз за игру.</p>
        <p>После активации музыкальной шкатулки призрак начнёт подпевать со своего текущего местоположения, оставаясь при этом невидимым.</p>
        <p>Если музыкальная шкатулка будет находиться в пределах 5 метров от призрака, то она вызовет паранормальное явление при котором появится призрак и начнёт идти к шкатулке. Музыкальную шкатулку можно держать в руке, либо поставить на пол, чтобы безопасным способом её выбросить, не начав при этом проклятую охоту до окончания паранормального явления. В любом случае, шкатулка закроется, как только перестанет играть.</p>
        <h2>Проклятая охота:</h2>
        <p>При использовании музыкальной шкатулки начнётся проклятая охота, если произойдет одно из следующих событий:</p>
        <ul>
            <li>Призрак находится на небольшом расстоянии от игрока, держащего шкатулку;</li>
            <li>Призрак ходит (во время паранормального явления вызванного шкатулкой) более 5 секунд;</li>
            <li>Шкатулка была брошена, во время проигрывания мелодии.</li>
        </ul>
        <p>Вместо этого начнётся обычная охота, если:</p>
        <ul>
            <li>Во время проигрывания мелодии игрок достиг или уже имел 0% рассудка;</li>
            <li>Охота призрака началась не из-за каких либо событий, связанных с использованием музыкальной шкатулки.</li>
        </ul>
        <p>Также музыкальную шкатулку можно использовать не вызывая охоту, если:</p>
        <ul>
            <li>Во время перечисленных выше требований никто не находится в зоне расследования (также стоит учесть, если после использования музыкальной шкатулки была начата проклятая охота, то любая охота после неё будет также являться проклятой);</li>
            <li>В момент окончания проигрывания мелодии призрак находится за пределами 5 метров от шкатулки, то она автоматически закрывается;</li>
            <li>Игрок подойдёт с активной шкатулкой к призраку незадолго до того, как мелодия перестанет играть, то призрак исчезнет, когда музыка закончится.</li>
        </ul>
        <h2>Другие эффекты:</h2>
        <p>Во время проигрывания музыкальной шкатулки, игрок находящийся в пределах ~2,5 метров будет терять рассудок со скорость 2,5% в секунду, что в сумме составит примерно 75%, если мелодия будет прослушана от начала и до конца.</p>
        <p>Если во время использования музыкальной шкатулки не начнётся паранормальное явление (вызванное использованием самой шкатулки), ничего не будет препятствовать обычной активности призрака, что означает, что он сможет бродить, взаимодействовать с объектами, использовать способности или даже выполнять паранормальные явления и охотиться. Призрак не будет активно приближаться к музыкальной шкатулке, если она находится вне его досягаемости.</p>
        <p>Если музыкальную шкатулку вынести на улицу, она закроется. Если в данный момент будет проигрываться мелодия, снижение рассудка приостановится, но технически мелодия будет играть дальше. Если внести её обратно в зону расследования, она откроется и возобновит проигрывание мелодии.</p>
        <h2>Награда за фотографию:</h2>
        <p>Фотография музыкальной шкатулки, независимо от того была она активирована или нет, принесёт игроку 5$ и 5XP (зависимо от расстояния, с которого она была сделана).</p>

    </div>

    <div id="Ouija_Board-info" class="location-info">
        <h2>Доска Уиджи</h2>
        <div style="text-align: center;">
            <img src="/imag/Ouija_Board2.jpg" alt="Ouija Board" style="display: inline-block; vertical-align: middle;">
        </div>
        <p> Доска Уиджи (англ. Ouija Board) — 1 из 7 проклятых предметов, которая позволяет общаться с призраками ценой рассудка игрока.</p>
        <h2>Использование:</h2>
        <p>Чтобы использовать доску Уиджи, необходимо активировать её щелчком ЛКМ. На неё будет положена планшетка. Чтобы задать призраку вопрос, нужно нажать на кнопку «V» (по умолчанию) и поговорить с призраком.</p>
        <p>Чтобы остановить использование доски Уиджи необходимо попрощаться используя фразу «До свидания», после чего, с неё будет убрана планшетка. Если отойти от доски, не выключив её, то она сгорит, и призрак начнёт проклятую охоту.</p>
        <p>Можно сфотографировать доску, и фото принесет в награду 5$. Также можно сфотографировать процесс ответа призрака, и фото под названием «Взаимодействие» принесет еще 5$.</p>
        <h2>Возможные вопросы и эфекты от них:</h2>

       

        <h2>Награда за фотографию:</h2>
        <p>Фотография доски Уиджи, независимо от того активирована она или нет, принесёт игроку 5$ и 5XP (зависимо от расстояния, с которого она была сделана).</p>
        <p>Если фотография доски Уиджи будет сделана в течение 20 секунд, после успешно заданного вопроса, игрок сфотографирует "Взаимодействие" и получит 5$ и 5XP (зависимо от расстояния, с которого она была сделано). Количество таких фотографий, в которые также входят вопросы одной и той же категории, не ограничено, что позволяет игрокам заполнить свободные места дополнительными фотографиями "Взаимодействие".</p>

    </div>

  

   
    



    <script>
        function showLocationInfo(locationName) {
            // Скрыть все блоки с информацией
            var locationInfos = document.querySelectorAll('.location-info');
            locationInfos.forEach(function (info) {
                info.style.display = 'none';
            });

            // Удалить класс .selected у всех элементов списка
            var locationListItems = document.querySelectorAll('.location-list-item');
            locationListItems.forEach(function (item) {
                item.classList.remove('selected');
            });

            // Отобразить блок информации для выбранной локации
            var selectedInfo = document.getElementById(locationName + '-info');
            selectedInfo.style.display = 'block';

            // Добавить класс .selected к выбранному элементу списка
            var selectedListItem = document.querySelector('.location-list-item[data-location="' + locationName + '"]');
            selectedListItem.classList.add('selected');
        }
    </script>

</body>
</html>