@{
    ViewData["Title"] = "Home ";
}

<div class="text-center">
    <style>
        body {
            background-color: #000000;
            color: #8d9ea5; /* Цвет текста, чтобы текст был видимым на черном фоне */
        }
    </style>


    <style>
        body,
        html {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        header {
            width: 100%;
            height: 400px;
            margin: 0;
            padding: 0;
        }

            header::before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 500px;
                margin: 0;
                padding: 0;
                background: url(/imag/sverk.gif ) no-repeat top center;
                background-size: cover;
            }

        .site-title {
            text-align: center;
            text-transform: uppercase;
        }


        header::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 500px;
            margin: 0;
            padding: 0;
            background: url(/imag/sverk.gif) no-repeat top center;
            background-size: cover;
            opacity: .4;
        }
    </style>

    <p>
        Почему стоит присоединиться к нам?
    </p>
    <p>
        Наше сообщество является самым крупным сообществом по игре Phasmophobia в СНГ. Мы официально подтверждены разработчиками игры.
    </p>
    <p>
        У нас имеется общительная аудитория, с которой можно совместно охотиться на призраков!
    </p>
    <p>
        Мы всегда ищем идеи для создания комфорта нашим участникам! Собственные боты с обширным количеством функций и многое другое!
    </p>
    <p>
        У нас имеется своя база знаний и обширное количество руководств и статей, посвященных настройке игры как на ПК, так и в VR-режиме.
    </p>


    <div class="bgImg">
        <img src="/imag/logo.png" width="500px" />
    </div>



    <h1 class="display-4">
        <img src="~/imag/logo.png" width="100%"
             height="100%" />
    </h1>

    <p>Привет, дорогой друг!</p>
</div>
