@{
    ViewData["Title"] = "Home ";
}

<div class="text-center">
    <style>
        body {
            background-color: #000000;
            font-family: 'Bloody', cursive;
            color: #8d9ea5; /* Цвет текста, чтобы текст был видимым на черном фоне */
        }
    </style>

    <style>
        body,
        html {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        header {
            width: 100%;
            height: 400px;
            margin: 0;
            padding: 0;
        }

            header::before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 600px;
                margin: 0;
                padding: 0;
                background: url(/imag/givschapka.gif ) no-repeat top center;
                background-size: cover;
            }

        .site-title {
            text-align: center;
            text-transform: uppercase;
        }


        header::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 600px;
            margin: 0;
            padding: 0;
            background: url(/imag/givschapka.gif) no-repeat top center;
            background-size: cover;
            opacity: .4;
        }

    </style>
  <section section class="faztex">
      <div>PhasmaBook </div>

  </section>
    <section class="order" id="order">
      
		<div class="container">
            <img src="/imag/призракфон.png" alt="PhasmaBook" class="order-image">
            <div class="order-form">
                <div class="order-form-text">Призраки </div>
                <div class="order-formv-text">
                    <h3 > На данном сайте можно узнать подробное описание каждого призрака. А так же подробный гайт того, как определить данного призрака.    </h3>
                    </div>
              
            </div>

        </div>
    </section>
    <section class="haus" id="haus" >
        <div class="container">
            <img src="/imag/hausfon.jpg" alt="PhasmaBook" class="haus-image">
            <div class="haus-form">
                <div class="haus-form-text">Дома </div>
                <div class="haus-formv-text">
                    <h3> Вданном разделе вы узнаете расположение комнат в домах, проклятых предметов. А так же узнаете места где можно прятаться от призраков. А так же места где можно убегать от призраков.     </h3>
                </div>

            </div>

        </div>
    </section>

    <section class="predmet" id="predmet">

        <div class="container">
            <img src="/imag/proc.png" alt="PhasmaBook" class="predmet-image">
            <div class="predmet-form">
                <div class="predmet-form-text">Проклятые предметы </div>
                <div class="predmet-formv-text">
                    <h3>На этом сайте подробно описан каждый предмет. Их способности, фразы и взаимодействия, а так же их расположение в каждом доме.     </h3>
                </div>

            </div>

        </div>
    </section>

    <section class="Oborudca" id="Oborudca">

        <div class="container">
            <img src="/imag/obor.png" alt="PhasmaBook" class="Oborudca-image">
            <div class="Oborudca-form">
                <div class="Oborudca-form-text">Оборудование </div>
                <div class="Oborudca-formv-text">
                    <h3>Вданном разделе мы рассказываем об каждой единицы оборудования каждого уровня. Помимо этого обьясним как им пользоваться.    </h3>
                </div>

            </div>

        </div>
    </section>

    <section class="fyrgon" id="fyrgon">

        <div class="container">
            <img src="/imag/furgonfon.png" alt="PhasmaBook" class="fyrgon-image">
            <div class="fyrgon-form">
                <div class="fyrgon-form-text">Фургон </div>
                <div class="fyrgon-formv-text">
                    <h3> На этой странице вы сможите узнать, какое оборудование расположено в фургоне. И для чего оно нужно.   </h3>
                </div>

            </div>

        </div>
    </section>


    <!-- <div class="tenor-gif-embed" data-postid="2449087825260383898" data-share-method="host" data-aspect-ratio="1.775" data-width="100%"><a href="https://tenor.com/view/phasmophobia-death-ghost-dark-house-gif-2449087825260383898">Phasmophobia Death GIF</a>from <a href="https://tenor.com/search/phasmophobia-gifs">Phasmophobia GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script> -->


</div>
