@{
    ViewData["Title"] = "Privacy2";
}

<div class="text-center">
    <style>
        body {
            background-color: #000000;
            color: #8d9ea5; /* Цвет текста, чтобы текст был видимым на черном фоне */
        }
    </style>

  
    
</div>



