@{
    ViewData["Title"] = "Privacy2";
}

<div class="text-center">
    <style>
        body {
            background-color: #000000;
            color: #8d9ea5; /* Цвет текста, чтобы текст был видимым на черном фоне */
        }
    </style>

    <style>
        body {
            margin: 0;
            padding: 0;
            height: 100%;
            font: 36px/1.6 Open Sans, serif;
        }

        article {
            overflow-x: hidden;
            height: 100vh;
            max-height: 100%;
            -webkit-perspective: 1px;
            perspective: 1px;
            -webkit-perspective-origin: center top;
            perspective-origin: center top;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }

      

            header p {
                font-size: 1em;
                margin: 0;
                color: white;
            }

        h1 {
            font-size: 2em;
            font-weight: 400;
            margin: 0;
            padding: 0 20px;
            text-align: center;
            color: white;
        }

        a {
            text-decoration: none;
            color: white;
        }

        .content {
            max-width: 1024px;
            margin: 0 auto;
            padding: 50px;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            background: white;
            color: black;
            font-size: 0.6em;
        }
     
    </style>
  
    
</div>



